 <footer>
 	
 	 <div class="text-center" style="background-color:#000">
        <ng-md-icon icon="facebook-box" style="fill: #3b5998" size="36"></ng-md-icon>
        <ng-md-icon icon="twitter" style="fill: #00aced" size="36"></ng-md-icon>
        <ng-md-icon icon="linkedin-box" style="fill: #007bb5" size="36"></ng-md-icon>
       
    </div>
     <div class="text-center" style="background-color:#da1331">
	    <div class="pull-left" style="margin-left:50px;">© Copyright 2014 <a href="http://hoosierlotteryhelper.com/" target="_blank">HoosierLotteryHelper.com</a>
	    </div>
		<div class="pull-right" st>
		    <ul class="list-inline">
		        <li><a href="#/about_us">About</a></li>
		        <li><a href="#/affliates">Affliates</a></li>
		        <li><a href="#/contact_us">Contact Us</a></li>
		        <li><a href="#/legal">Legal</a></li>
		        <li>&nbsp;</li>
		    </ul>
		</div>
	</div>
</footer>

