<div class="container">
	<div class = "page-header">
		<h1>
			Home
		</h1>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="col-sm-6">
				<img ng-src="images/Capture-360x193.png" height="150" width="200">
				Tonight’s Predictions….<br>
				<a href="#/jackpot_prediction">
					<button type = "button" class = "btn btn-primary btn-sm">
					     Drawing
					</button>
				</a>
				<a href="#/jackpot_prediction">
					<button type = "button" class = "btn btn-primary btn-sm">
					      Tips
					</button>
				</a>
				<br>
				I know many people are skeptical about this site and my predictions. 					Truth is my program has predicted 141 jackpot winners. 
				<br>If you check …<br>
				
			</div>
			<div class="col-sm-6">
				<img ng-src="images/9_9_15-360x193.png" height="150" width="200">
				9/9/15 Today’s Drawing <br>
				<a href="#/jackpot_prediction">
					<button type = "button" class = "btn btn-primary btn-sm">
					     Drawing
					</button>
				</a><br>
				I’m leaving the Country.<br>
				About to get on a plane.<br>
				This could be my last lottery drawing for a long time, so here’s some …<br>
				
			</div>
		</div>
		<div class="col-sm-4">
			<div ng-include="'templates/right_panel.html'"></div>
		</div>
	</div>
</div>
