<div class="container">
  <div class = "page-header">
	   <h1>
	      How To Play
	   </h1>
	</div>
  
  <div class="row">
    <div class="col-sm-8">
      
      <strong>Motto:</strong> Play Smart, Win More. <br><br>
      Mission: To help lotto players increase their odds of winning.<br><br> Hoosier Lottery Helper works by increasing your odds to win the Hoosier Lotto by applying logic, probability, and statistical information to a lotto system. The backbone to Hoosier Lottery Helper is a analysis program that has been developed over 5 years. The inner workings and methods of the program are available to all members. Historical data for previous winning numbers, predictions, winnings, and lotto profiles is also available for paid members.
    </div>
    <div class="col-sm-4">
      <div ng-include="'templates/right_panel.html'"></div>
    </div>
  </div>
</div>