<div ng-controller="accountingController" ng-cloak>
<section class="col-lg-12">
	<div class="row row-centered">
		<div class="col-lg-4 col-md-4 col-xs-12 col-centered" style="margin-top:32px; min-height:690px;">
			<div class="panel panel-green margin-bottom-10">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-tasks"></i> CASH IN</h3>
				</div>
				<form novalidate name="cash_entry_form" class="bms-form noBorder">
					<div class="row" style="padding:2%;align:center;">
						<input type="hidden" ng-model="cash_in_out_model.entry_type" value="in" />
						
						<div class="col-xs-12 col-md-12">
							<label for="pwd">Select Driver Account <span style="color:red">*</span> :</label>
								<label class="select">
									<select ng-model="cash_in_out_model.driver_id" name="driverAccount" ng-change="show_driver_balance();"  required>
										<option value="" selected disabled="disabled">---Please Select---</option>
										<option ng-repeat="driver in driver_list" value="{{driver.driver_id}}">{{driver.title}} {{driver.first_name}} {{driver.last_name}}</option>
									</select>
									<i></i>
								</label>
							<div class="error" ng-show="cash_entry_form.driverAccount.$touched || driverAccount"  ng-messages="cash_entry_form.driverAccount.$error">
								<p ng-message="required">Please select a driver account.</p>
							</div>
						</div>
						<div class="col-xs-12 col-md-12">
							<label for="pwd">Enter Amount<span style="color:red">*</span> : ({{currecy_code_for_account}} {{accout_balance | number:2}})</label>
							<label class="input">
								<input type="number" name="enter_amount" ng-model="cash_in_out_model.amount" required>
							</label>
							<div class="error" ng-show="cash_entry_form.enter_amount.$touched || enter_amount"  ng-messages="cash_entry_form.enter_amount.$error">
								<p ng-message="required">Please enter amount.</p>
							</div>
						</div>
						<div class="col-xs-12 col-md-12">
							<label for="pwd">Enter Note :</label>
							<label class="textarea">
								<textarea placeholder="Notes" name="entry_note" rows="3" ng-model="cash_in_out_model.description" required></textarea>
							</label>
							<div class="error" ng-show="cash_entry_form.entry_note.$touched || entry_note"  ng-messages="cash_entry_form.entry_note.$error">
								<p ng-message="required">Please enter description.</p>
							</div>
						</div>
					</div>
					<div class="modal-footer"  style="padding:2% ;">
						<button type="button" class="btn btn-warning btn-xs" ng-click="addCashEntry(cash_entry_form.$valid,2);">
							 <span data-ng-hide="loading">
								Make Entry
							 </span>
							 <span data-ng-show="loading">
								Make Entry
								<i class="fa fa-cog fa-spin"></i>
							 </span>
						</button>
					</div>
				</form>
			</div><!-- end of main panel-->
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- below model will open the messages. -->
	<modal visible="success_error_message">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert" ng-if="alert_message_success">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
				<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
	</modal>
	<modal title="Update Details" visible="show_update_message_model">
		<div class="alert alert-success" ng-repeat="successmsg in success">
			<strong><span class="glyphicon glyphicon-ok"></span>{{successmsg}}</strong>
		</div>
		<div class="alert alert-danger" ng-repeat="error in errors">
			  <strong>{{error}}</strong>
		</div>
	</modal>
</div>