<!-- Include the header template. -->
<div ng-controller="bidJob">
	</br>
	<!--modal title="{{model_title}}" visible="success_error_message"--> 
	<div class="container">
		<div class="row row-centered">
			<div class="col-lg-9  col-centered">
				<div class="panel new-booking" style="margin-bottom:0;"  ng-if="job_status !=''">
					<div class="panel-heading">
					  <h3 class="panel-title"><i class="fa fa-book"></i>&nbsp;{{job_status}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="clearfix"></div>
					<div class="col-lg-12 col-centered" style="margin-top:10px;"  ng-if="success_error_message">
						<div class="alert alert-{{alert_message_color}}" role="alert">
							<strong>{{job_message}}</strong>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-lg-12 bms-form" style="border:0;" ng-if="logde_job_extra_sheet_div">
						<form id="main-contact-form" class="contact-form" name="logde_job_extra_sheet">
							<div class="table-responsive" style="border:0;">
								<table class="table">
									<div class="alert alert-success" style="margin-top:10px;" role="alert">
										<strong>Job ID : {{booking_details.job_id}}</strong><br/>
										<strong>Date/Time : {{booking_details.pickup_date_time.pickup_date| date : 'dd-MM-yyyy'}}
										@ 
										{{booking_details.pickup_date_time.pickup_time}}</strong><br/>
										From - 
										{{booking_details.from_address.label}},&nbsp;
										{{booking_details.from_address.line_1}},&nbsp;
										{{booking_details.from_address.line_2}},&nbsp;
										{{booking_details.from_address.suburb_district}},&nbsp;
										{{booking_details.from_address.state}},&nbsp;
										{{booking_details.from_address.postcode}},&nbsp;
										{{booking_details.from_address.country}}<br/>
										To - 
										{{booking_details.to_address.label}},&nbsp;
										{{booking_details.to_address.line_1}},&nbsp;
										{{booking_details.to_address.line_2}},&nbsp;
										{{booking_details.to_address.suburb_district}},&nbsp;
										{{booking_details.to_address.state}},&nbsp;
										{{booking_details.to_address.postcode}},&nbsp;
										{{booking_details.to_address.country}}
									</div>
									{{job_details_message}}
									<br><br>
									<thead>
										<tr>
											<th>Item No.</th>
											<th>Description</th>
											<th>Extra Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="extra_sheet_number in logde_job_extra_sheet_field_number">
											<td align="center" valign="middle" style="width:8%; padding:5px 0; border:0;">{{extra_sheet_number.name}}</td>
											<td align="left" style="border:0;"><label class="input"><input type="text" name="extra_sheet_name_{{$index}}" placeholder="" ng-model="extra_sheet_name_and_value[$index].name"></label>
												<div style="color: red;" ng-show="extra_sheet_name_and_value[$index].value.length && !extra_sheet_name_and_value[$index].name.length"><p>Please enter description.</p></div>
											</td>
											<td align="left" style="border:0;"><label class="input"><input type="text" ng-pattern="/[0-9]/" name="extra_sheet_value_{{$index}}" placeholder="" ng-model="extra_sheet_name_and_value[$index].value" ng-blur="toFixedTwo(extra_sheet_name_and_value[$index].value, $index)"  maxlength="15"></label>
												<div style="color: red;" ng-show="logde_job_extra_sheet['extra_sheet_value_{{$index}}'].$error.pattern"><p>Please enter amount.</p></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="pull-right">
								<span style="display:block; margin-right:5px;" ng-show="logde_job_extra_sheet_loader">
									<div style="position: relative; right: 0; top: 0px; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;">
									</div>
								</span>
								<div class="clearfix"></div>
								<button style="margin-bottom:10px;" type="button" href ng-click="updateLogdeJobExtraSheet(logde_job_extra_sheet)" class="btn btn-warning btn-sm pull-right" style="margin-right:5px;">SUBMIT</button>
							</div>
						</form>
					</div>
					<!--/modal-->
					<div>  
						<div class="col-lg-12"  ng-if="success_message" style="margin-top:10px;">
							<div class="alert alert-{{alert_color}}" role="alert">
								<strong>{{success}}<br/ ng-if="success">{{congratulation_win_message}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>
