<!--script src="http://www.limokit.com/bms_clients/repo/lib/scripts/jquery.js"></script--> 
<!--script data-require="angular.js@1.2.16" data-semver="1.2.16" src="https://code.angularjs.org/1.2.16/angular.js"></script-->
<div ng-controller="business_setting">
	<div class="row">
		<div class="col-lg-12" style="margin-top:16px;">
			<div class="panel panel-green margin-bottom-10">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-tasks"></i> Business Settings</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
		<div ng-show="business_setting_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%;">
			<header>General Details</header>
			<fieldset>
				<form id="main-contact-form" class="contact-form" name="general_setting_form" ng-submit="updateGeneralSettings(general_setting_form)" novalidate>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 text-center">
							<label class="label">Logo:<span style="color:red;">&nbsp;*</span></label>
							<div class="form-group text-center">
								<img ng-src="{{general_setting.business_logo_path}}" width="100" height="auto" alt="Company Logo">
								<div class="text-center"></div><!--{{general_setting.business_logo}}-->
								<div ng-if="general_setting.business_logo" class="changeLogo btn btn-info btn-xs"  ng-click="showImageUploadPanel()">
									<i class="fa fa-picture-o"></i>&nbsp;Change logo
								</div>
								<div ng-if="!general_setting.business_logo" class="changeLogo btn btn-info btn-xs" ng-click="showImageUploadPanel()">
									<i class="fa fa-picture-o"></i>&nbsp;Add logo
								</div>
							</div>
							<file style="margin:0 auto 5px;" class="browse" ng-show="upload_business_logo" name="image" ng-model="general_setting.business_logo" ng-model-options="{ updateOn: 'blur' }" ng-pattern="checkFileExtentionPattern" /><!--ng-click="checkFileExtentionPattern(general_setting.business_logo)"-->
							<div class="error" ng-show="general_setting_form.image.$dirty && general_setting_form.image.$invalid && change_password.confirm_password.$error.required"><p>Please select business logo.</p></div>
							<div class="error" ng-if="file_extention_error" ng-show="general_setting_form.image.$error.pattern"><p>Only  png, jpeg, jpg, gif image are allowed.</p></div>  
							<div class="error" ng-if="file_size_error" ng-show="general_setting_form.image.$error.pattern"><p>Selected image size must be below 2 mb.</p></div>
						</div>				
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Business Name:<span style="color:red;">&nbsp;*</span>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="This name will be used for email communications and generating Invoices."></i></label>
							<label class="input">
								<input type="text" name="business_name" ng-model="general_setting.business_name" required>
							</label>
							<div class="error" ng-show="general_setting_form.business_name.$dirty && general_setting_form.business_name.$invalid"><p>Please enter business name.</p></div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Trading Name:<span style="color:red;">&nbsp;*</span>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Same as Business Name"></i></label>
							<label class="input">
								<input type="text" name="trading_name" ng-model="general_setting.trading_name" required>
							</label>
							<div class="error" ng-show="general_setting_form.trading_name.$dirty && general_setting_form.trading_name.$invalid"><p>Please enter trading name.</p></div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Business Number:<span style="color:red;">&nbsp;*</span>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="This is the number used in invoices for Taxation purpose. For example, Australian Businesses would put thier ABN here."></i></label>
							<label class="input">
								<input type="text" name="business_number" ng-model="general_setting.business_number" required>
							</label>
							<div class="error" ng-show="general_setting_form.business_number.$dirty && general_setting_form.business_number.$invalid"><p>Please enter business number.</p></div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
							<label>Currency:<span style="color:red;">&nbsp;*</span>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="This is the currency that would be used throughout the system including job prices, invoices and driver accounting."></i></label>
							<label class="input">
								<input type="text" name="currency_code" class="form-control" ng-model="currency_of_general_setting" readonly>
							</label>
						</div>
						<!--div class="col-lg-6 col-md-6 col-sm-6">
							<label>Currency:<span style="color:red;">&nbsp;*</span></label>  
							<label class="select">
								<select ng-model="general_setting.currency_code">
									<option style="display:none" value="">Select</option>
									<option ng-repeat="country7 in country_data  | orderBy:'currency_name'" ng-selected="country7.currency_code==general_setting.currency_code" value="{{country7.currency_code}}">{{country7.name}}({{country7.currency_symbol}})</option>
								</select>
								<i></i>
							</label>
						</div-->
						<!--Paypal Email-->
						<!--div class="col-lg-6 col-md-6 col-sm-6">
							<label>Paypal Email:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="email" name="business_email" ng-model="general_setting.paypal_email_id" required>
							</label>						
							<div class="error" ng-show="general_setting_form.business_email.$dirty && general_setting_form.business_email.$invalid"><p>Please enter valid business email address.</p></div>
						</div-->
							<div class="clearfix"></div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<label>Website:&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Must be of the fomat - http://www.yourdomainname.com"></i></label>
								<label class="input">
									<input type="url" name="website_domain" class="form-control" ng-model="general_setting.website_domain" required>
								</label>
								<!--div class="error" ng-show="general_setting_form.website_domain.$dirty && general_setting_form.website_domain.$invalid && general_setting_form.website_domain.$error.required"><p>Please enter website name.</p></div-->
								<div class="error" ng-show="general_setting_form.website_domain.$error.url"><p>Sorry not a valid URL, don't forget to use http://www.</p></div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<label>Slogan:<span style="color:red;">&nbsp;*&nbsp;&nbsp;</span><i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="This is your slogan or punchline of the business. This would appear on your business, tax invoices etc."></i></label>
								<label class="textarea">
									<textarea name="business_slogan" ng-model="general_setting.bms_slogan" required></textarea>
									<div class="error" ng-show="general_setting_form.business_slogan.$dirty && general_setting_form.business_slogan.$invalid"><p>Please enter business slogan.</p></div>
								</label>
							</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin-top:2%;">
							<label class="label">Business Address&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="This Address would be used in email communications and invoices."></i></label>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Line 1:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="line_1" ng-model="address_setting.line_1" required>
							</label>
							<div class="error" ng-show="general_setting_form.line_1.$dirty && general_setting_form.line_1.$invalid"><p>Please enter valid business address.</p></div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Line 2:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="line_2" ng-model="address_setting.line_2" required>
							</label>
							<div class="error" ng-show="general_setting_form.line_2.$dirty && general_setting_form.line_2.$invalid"><p>Please enter address line-2.</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-6 col-md-6 col-sm-6">						
							<label>Suburb/ District:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="suburb_district" ng-model="address_setting.suburb_district" required>
							</label>
							<div class="error" ng-show="general_setting_form.suburb_district.$dirty && general_setting_form.suburb_district.$invalid"><p>Please enter address line-2.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>City:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="city" ng-model="address_setting.city" ng-pattern="/^(\D)+$/" required>
							</label>
							<div class="error" ng-show="general_setting_form.city.$dirty && general_setting_form.city.$invalid"><p>Please enter valid city.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>State:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="state" ng-model="address_setting.state" ng-pattern ="/^(\D)+$/" required>
							</label>
							<div class="error" ng-show="general_setting_form.state.$dirty && general_setting_form.state.$invalid"><p>Please enter valid state.</p></div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Post Code:<span style="color:red;">&nbsp;*</span></label>
							<label class="input"><!--for 1 to 6 number /^[0-9]{1,6}$/-->
								<input type="text" name="post_code" ng-model="address_setting.post_code" ng-pattern="/[0-9]/" required>
							</label>
							<div class="error" ng-show="general_setting_form.post_code.$dirty && general_setting_form.post_code.$invalid"><p>Please enter valid post code.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Country:<span style="color:red;">&nbsp;*</span></label>
							<label class="select">
								<select ng-model="address_setting.country">
									<option ng-repeat="country6 in country_data | orderBy : 'name'" value="{{country6.name}}" ng-if="address_setting.country != ''" ng-selected="address_setting.country==country6.name">{{country6.name}}</option>
									<!--option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.name}}" ng-if="address_setting.country == ''" ng-selected="country_data.name==address_setting.country">{{country_data.name}}</option-->
									<option style="display:none" value="" selected disabled="disabled">Select Country</option>
								</select>
								<i></i>
							</label>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6" ng-if="address_setting.tax_percentage_field_name">
							<label>{{address_setting.tax_percentage_field_name}} Percentage:<span style="color:red;">&nbsp;*</span>
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="{{address_setting.tax_percentage_field_name}} percentage is tax percentage of this country."></i>
							</label>
							<label class="input">
								<input type="text" name="tax_percentage" ng-model="address_setting.tax_percentage_value" ng-pattern="/^[0-9]{1,6}$/" required>
							</label>
							<div class="error" ng-show="general_setting_form.tax_percentage.$dirty && general_setting_form.tax_percentage.$invalid"><p>Please enter valid {{address_setting.tax_persentage_field_name  | lowercase}} percentage.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin:2% 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="general_details_loader"><div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div></span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Bank Details
				<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="These bank details will be added in invoices as instruction to your customers."></i>
			</header>
			<fieldset>
				<form role="form" name="bank_setting_form" ng-submit="updateBankSettings(bank_setting_form)" novalidate>  
					<div class="row">
						<!-- Country list -->
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label>Country:<span style="color:red;">&nbsp;*</span></label>
							<label class="select">
								<select ng-model="bank_setting.calling_code" name="country" ng-change="getBankDetails(bank_setting.calling_code)" required>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="bank_setting.calling_code" ng-selected="country_data.calling_code==bank_setting.calling_code">{{country_data.name}}</option>
									<!--option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="!bank_setting.calling_code" ng-selected="country_data.calling_code==address_setting.country">{{country_data.name}}</option-->
									<option style="display:none" value="">Select Country</option>
								</select>
								<i></i>
							</label>
							<!--div class="error" ng-show="bank_setting_form.country.$dirty && bank_setting_form.country.$invalid"><p>Please select country.</p></div-->
						</div>
						<!-- Bank fields and value -->
						<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="param in bank_parameters">
							<label ng-init="arr_index=$index">{{param.name}}:<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="bank_parameters_value_{{$index}}" ng-model="bank_setting.bank_parameters_value[$index]" required>
							</label>
							<div class="error" ng-show="bank_setting_form['bank_parameters_value_{{$index}}'].$dirty && bank_setting_form['bank_parameters_value_{{$index}}'].$invalid"><p>Please enter {{param.name | lowercase}}.</p></div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label>Cheque Payable To:<span style="color:red;">&nbsp;*</span>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Cheques Payble to will be added in invoices as payment instruction to your customers."></i>
							</label>
							<label class="input">
								<input type="text" name="cheque_payment_details" ng-model="bank_setting.cheque_payment_details" required>
							</label>
							<div class="error" ng-show="bank_setting_form.cheque_payment_details.$dirty && bank_setting_form.cheque_payment_details.$invalid"><p>Please enter cheque payable details.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin:2% 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="bank_details_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>
								</span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Invoice Messages&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Whilst invoicing a customer, you can add these preset messages to invoices. You can add as many messages here. When invoicing you will be presented with these messages as a dropdown list."></i>
				<button type="button" ng-click="modalForAddMessage()" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus-square"></i>&nbsp;Add New Invoice Message</button>
			</header>
			<fieldset ng-if="invoice_messages_is_empty != ''"><div class="error"><p>{{invoice_messages_is_empty}}</p></div></fieldset>
			<fieldset ng-if="invoice_messages_is_empty == ''">
				<form class="contact-form" name="invoice_messege_setting_form" ng-submit="updateInvoiceMessagesSeting(invoice_messege_setting_form)" novalidate>
					<div class="row">
						<div class="table-responsive" style="border:0;">
							<table class="table-hover" width="100%">
								<tr ng-repeat="invoice_message in invoice_messages">
									<td align="center" valign="middle" style="width:4%; padding:5px 0;">
										<label class="checkbox" tooltips tooltip-side="right" tooltip-template="Delete"><input type="checkbox" name="delete_msg_{{$index}}" ng-model="checked_value_[$index]" ng-true-value="'YES'" ng-false-value="'NO'" ng-click="deleteInvoiceMessage(invoice_message._id, checked_value_[$index])"><i style="top:-10px; left:12px;"></i></label>
									</td>
									<td align="center" style="width:3%; padding:5px 0;" ng-if="invoice_messages_is != '1'"> <!--ng-if="invoice_messages_is != '1'"-->
										{{$index+1}}.
									</td>
									<td style="padding:5px 0;">
										<div class="col-xs-12 col-md-12">
											<label class="input">
												<input type="text" name="invoice_line_{{$index}}" class="form-control" ng-model="invoice_message.line" required>
												<input type="hidden" name="invoice_line_id_{{$index}}" class="form-control" ng-model="invoice_message._id" required>
											</label>
										</div>
									</td>
								</tr>
							</table>
							<div class="clearfix"></div>
							<div class="col-xs-12 col-md-12 pull-right" style="margin:2% 0">
								<div class="pull-right">
									<span style="display:block;" ng-show="invoice_messages_loader">
										<div style="position: relative; right: 0px; display:block; margin:0 auto; top: 0px; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;">
										</div>
									</span>
									<div class="clearfix"></div>
									<button type="submit" class="btn btn-warning btn-sm pull-right" style=" margin:0 0 5px 5px;">UPDATE SELECTED MESSAGE</button>
								</div>
								<div class="pull-right">
									<span style="display:block; margin-right:5px;" ng-show="delete_invoice_messages_loader">
										<div style="position: relative; right: 0; top: 0px; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;">
										</div>
									</span>
									<div class="clearfix"></div>
									<button type="button" class="btn btn-danger btn-sm pull-right" ng-click="deleteInvoiceMessages(invoice_messege_setting_form)" ng-confirm-click="Are you sure you want to delete this message?">DELETE SELECTED MEESSAGE/S</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Legal
				<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-side="right" tooltip-template="Legal"></i>
			</header>
			<fieldset>
				<form class="legal-form" name="business_legal_form" ng-submit="updateLegalForm(business_legal_form)" novalidate>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">  
							<label>Email Disclaimer:</label>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="The Email Disclaimer you would like to go with emails to customers and drivers."></i>
							<label class="textarea">
								<textarea name="mail_disclaimer" ng-model="update_legal.email_disclaimer" row="8" required></textarea>
							</label>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<label>Booking Terms And Conditions:</label>&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Booking Terms and Conditions you would like your customers to see in Emails sent from this Booking Management System."></i>
							<label class="textarea">
								<textarea name="terms_and_conditions" ng-model="update_legal.booking_terms_and_conditions" row="8" required></textarea>
							</label>
						</div>
						<div class="col-xs-12 col-md-12 pull-right" style="margin:2% 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="update_legal_loader">
									<div style="position: relative; right: 0px; display:block; margin:0 auto; top: 0px; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;">
									</div>
								</span>
								<div class="clearfix"></div>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
	<div class="col-lg-6">
	<!-- Phone settings div -->
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%;">
			<header>Phone</header>
			<fieldset>
				<form name="phone_setting_form" ng-submit="updatePhoneSettings(phone_setting_form)" novalidate>
					<div class="row">
						<div class="col-lg-12">
							<label class="label">Booking Phone
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Booking Phone : Phone through which all booking related call will received from customer."></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Calling Code<span style="color:red;">&nbsp;*</span></label>       
							<label class="select">
								<select name="booking_calling_code" ng-model="phone_settings_booking.calling_code">
									<option ng-repeat="country in country_data | orderBy : 'name'" value="{{country.calling_code}}"  ng-if="phone_settings_booking.calling_code != ''" ng-selected="phone_settings_booking.calling_code==country.calling_code">{{country.name}} (+{{country.calling_code}})</option>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="phone_settings_booking.calling_code == ''" ng-selected="country_data.calling_code==bank_setting.calling_code">{{country_data.name}} (+{{country_data.calling_code}})</option>
									<option style="display:none" value="">Calling Code</option>
								</select>
								<i></i>
							</label>
							<div class="error" ng-show="phone_setting_form.booking_calling_code.$dirty && phone_setting_form.booking_calling_code.$invalid"><p>Please select calling code.</p></div>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Phone Number<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="booking_phone" ng-model="phone_settings_booking.number" placeholder="Number" ng-pattern="/[0-9]/" minlength="8" maxlength="10" required>
							</label>
							<div class="error" ng-show="phone_setting_form.booking_phone.$dirty && phone_setting_form.booking_phone.$invalid"><p>Please enter a valid phone number.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Billing Phone
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Billing Phone : Phone through which all invoice related call will send to customer."></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Calling Code</label>
							<label class="select">
								<select ng-model="phone_settings_billing.calling_code">
									<option ng-repeat="country1 in country_data | orderBy : 'name'" value="{{country1.calling_code}}" ng-if="phone_settings_billing.calling_code != ''" ng-selected="phone_settings_billing.calling_code==country1.calling_code">{{country1.name}} (+{{country1.calling_code}})</option>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="phone_settings_billing.calling_code == ''" ng-selected="country_data.calling_code==address_setting.country">{{country_data.name}}</option>
									<option style="display:none" value="">Calling Code</option>
								</select>
								<i></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Phone Number</label>
							<label class="input">
								<input type="text" name="billing_phone" ng-model="phone_settings_billing.number" placeholder="Number" ng-pattern="/^[0-9]{8,10}$/" maxlength="10" required>
							</label>
							<div class="error" ng-show="phone_setting_form.billing_phone.$error.pattern"><p>Please enter a valid phone number.</p></div>			
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Support Phone
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Support Phone : Phone through which all support related call will received from customer/staff etc."></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Calling Code</label>
							<label class="select">
								<select ng-model="phone_settings_support.calling_code">
									<option ng-repeat="country2 in country_data | orderBy : 'name'" value="{{country2.calling_code}}"  ng-if="phone_settings_support.calling_code != ''" ng-selected="phone_settings_support.calling_code==country2.calling_code">{{country2.name}} (+{{country2.calling_code}})</option>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="phone_settings_support.calling_code == ''" ng-selected="country_data.calling_code==address_setting.country">{{country_data.name}}</option>
									<option style="display:none" value="">Calling Code</option>
								</select>
								<i></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Phone Number</label>
							<label class="input">
								<input type="text" name="support_phone" ng-model="phone_settings_support.number" placeholder="Number" ng-pattern="/^[0-9]{8,10}$/" maxlength="10" required>
							</label>
							<div class="error" ng-show="phone_setting_form.support_phone.$error.pattern"><p>Please enter a valid phone number.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Contact Us Phone
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="contact Us Phone : Phone through which a reply will send to user whoever will make contact to {{business_name}}."></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Calling Code</label>
							<label class="select">
								<select ng-model="phone_settings_contact_us.calling_code">
									<option ng-repeat="country3 in country_data | orderBy : 'name'" value="{{country3.calling_code}}" ng-if="phone_settings_contact_us.calling_code != ''" ng-selected="phone_settings_contact_us.calling_code==country3.calling_code">{{country3.name}} (+{{country3.calling_code}})</option>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="phone_settings_contact_us.calling_code == ''" ng-selected="country_data.calling_code==address_setting.country">{{country_data.name}}</option>
									<option style="display:none" value="">Calling Code</option>
								</select>
								<i></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Phone Number</label>
							<label class="input">
								<input type="text" name="contact_us_phone" ng-model="phone_settings_contact_us.number" placeholder="Number" ng-pattern="/^[0-9]{8,10}$/" maxlength="10" required>
							</label>
							<div class="error" ng-show="phone_setting_form.contact_us_phone.$error.pattern"><p>Please enter a valid phone number.</p></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Driver Communication Phone
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Driver Communication Phone : Phone through all communication call to the driver will made from {{business_name}}."></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Calling Code</label>
							<label class="select">
								<select ng-model="phone_settings_driver_communication.calling_code">  
									<option ng-repeat="country4 in country_data | orderBy : 'name'" value="{{country4.calling_code}}" ng-if="phone_settings_driver_communication.calling_code != ''" ng-selected="phone_settings_driver_communication.calling_code==country4.calling_code">{{country4.name}} (+{{country4.calling_code}})</option>
									<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}+{{country_data._id}}" ng-if="phone_settings_driver_communication.calling_code == ''" ng-selected="country_data.calling_code==address_setting.country">{{country_data.name}}</option>
									<option style="display:none" value="">Calling Code</option>
								</select>
								<i></i>
							</label>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<label>Phone Number</label>
							<label class="input">
								<input type="text" name="communication_phone" ng-model="phone_settings_driver_communication.number" placeholder="Number" ng-pattern="/^[0-9]{8,10}$/" maxlength="10" required>
							</label>
							<div class="error" ng-show="phone_setting_form.communication_phone.$error.pattern"><p>Please enter a valid phone number.</p></div>
						</div>
						<div class="col-lg-12" style="margin:2% 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="phone_setting_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>
								</span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE PHONE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<!-- Email settings div -->
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Email</header>
			<fieldset>
				<form name="email_setting_form" ng-submit="updateEmailSettings(email_setting_form)" novalidate>
					<div class="row">
						<div class="col-lg-12">
							<label class="label">Booking Email
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Booking Email : Email ID through which all booking related email will send to customer."></i>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Email<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="email" name="booking_email" ng-model="email_settings_booking.email" placeholder="Email ID" required>
							</label>
							<div class="error" ng-show="email_setting_form.booking_email.$dirty && email_setting_form.booking_email.$invalid"><p>Please enter valid email address.</p></div>
						</div>
						<div class="col-lg-4">
							<label>Host<span style="color:red;">&nbsp;*</span>
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Host name is use for sending mail from the server</br>for example if you are using gmail  The outgoing host name is smtp.gmail.com."></i>
							</label>
							<label class="input">
								<input type="text" name="booking_host" ng-model="email_settings_booking.host" placeholder="Host" required>
							</label>
							<div class="error" ng-show="email_setting_form.booking_host.$dirty && email_setting_form.booking_host.$invalid"><p>Please enter valid host name.</p></div>
						</div>
						<div class="col-lg-4">
							<label>Password<span style="color:red;">&nbsp;*</span></label>
							<label class="input">
								<input type="text" name="booking_password" minlength="6" ng-model="email_settings_booking.password" placeholder="Password" required>
							</label>
							<div class="error" ng-show="email_setting_form.booking_password.$dirty && email_setting_form.booking_password.$invalid"><p>Please enter password of minimum 6 character.</p></div>
						</div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Billing Email
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Billing Email : Email ID through which all invoice related email will send to customer."></i>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Email</label>
							<label class="input">
								<input type="email" name="billing_email" ng-model="email_settings_billing.email" placeholder="Email ID" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Host
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Host name is use for sending mail from the server</br>for example if you are using gmail  The outgoing host name is smtp.gmail.com."></i>
							</label>
							<label class="input">
								<input type="text" name="billing_host" ng-model="email_settings_billing.host" placeholder="Host" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Password</label>
							<label class="input">
								<input type="text" name="billing_password" ng-model="email_settings_billing.password" placeholder="Password" minlength="6" required>
							</label>
							<div class="error" ng-show="email_setting_form.billing_password.$error.minlength"><p>Please enter password of minimum 6 character.</p></div>
						</div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Support Email
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Support Email : Email ID through which all support related email will send to customer/staff etc."></i>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Email</label>
							<label class="input">
								<input type="email" name="support_email" ng-model="email_settings_support.email" placeholder="Email ID" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Host
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Host name is use for sending mail from the server</br>for example if you are using gmail  The outgoing host name is smtp.gmail.com."></i>
							</label>
							<label class="input">
								<input type="text" name="support_host" ng-model="email_settings_support.host" placeholder="Host" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Password</label>
							<label class="input">
								<input type="text" name="support_password" ng-model="email_settings_support.password" placeholder="Password" minlength="6" required>
							</label>
							<div class="error" ng-show="email_setting_form.support_password.$error.minlength"><p>Please enter password of minimum 6 character.</p></div>				
						</div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Contact Us Email
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Contact Us Email : Email ID through which a reply will send to user whoever will make contact to {{business_name}}."></i>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Email</label>
							<label class="input">
								<input type="email" name="contact_us_email" ng-model="email_settings_contact_us.email" placeholder="Email ID" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Host
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Host name is use for sending mail from the server</br>for example if you are using gmail  The outgoing host name is smtp.gmail.com."></i>
							</label>
							<label class="input">
								<input type="text" name="contact_us_host" ng-model="email_settings_contact_us.host" placeholder="Host" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Password</label>
							<label class="input">
								<input type="text" name="contact_us_password" ng-model="email_settings_contact_us.password" placeholder="Password" minlength="6" required>
							</label>
							<div class="error" ng-show="email_setting_form.contact_us_password.$error.minlength"><p>Please enter password of minimum 6 character.</p></div>	
						</div>
						<div class="col-lg-12" style="margin-top:10px;">
							<label class="label">Driver Communication Email
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#000 !important;" tooltips tooltip-template="Driver Communication Email : Email ID through all communication email to the driver will made from {{business_name}}."></i>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Email</label>
							<label class="input">
								<input type="email" name="driver_communication_email" ng-model="email_settings_driver_communication.email" placeholder="Email ID" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Host
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Host name is use for sending mail from the server</br>for example if you are using gmail  The outgoing host name is smtp.gmail.com."></i>
							</label>
							<label class="input">
								<input type="text" name="driver_communication_host" ng-model="email_settings_driver_communication.host" placeholder="Host" required>
							</label>
						</div>
						<div class="col-lg-4">
							<label>Password</label>
							<label class="input">
								<input type="text" name="driver_communication_password" ng-model="email_settings_driver_communication.password" placeholder="Password" minlength="6" required>
							</label>
							<div class="error" ng-show="email_setting_form.driver_communication_password.$error.minlength"><p>Please enter password of minimum 6 character.</p></div>	
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12" style="margin:2% 0">
							<div class="pull-right">
								<span class="display:block;" ng-show="email_setting_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>
								</span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE EMAIL</button>   
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Job offer valid for (in second)
				<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Job offer valid for is the time in sec, till when the job can be accepted by the driver once he had being offer a job for bidding."></i>
			</header>
			<fieldset>
				<form name="Job_offer_valid_for_form" ng-submit="updateBiddingForJobOffer(Job_offer_valid_for_form)" novalidate>
					<div class="row">
						<div class="col-lg-12">
							<label class="input">
							
								<input type="text" name="bidding_job" ng-model="bidding_time_for_job.job_offered_valid_for" placeholder="Time in second" ng-pattern="/[0-9]/" minlength="3" required>
							</label>
							<div class="error" ng-show="Job_offer_valid_for_form.bidding_job.$dirty && Job_offer_valid_for_form.bidding_job.$invalid"><p>Please enter a valid time.</p></div>
						</div>
						<div class="col-lg-12" style="margin:2% 0 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="job_offer_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>					
								</span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<header>Google calendar setting
				<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Google calender setting will help you to put your jobs in your provided google calender for better remainder of jobs."></i>
			</header>
			<fieldset>
				<form name="google_calendar_setting_form" ng-submit="updateGoogleCalender(google_calendar_setting_form)" novalidate>
					<div class="row">
						<div class="col-lg-12">
							<label>
								Client Id
									<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" 
										tooltips tooltip-template="To obtain client id with Google or Google Apps, you will need to register OAuth 2.0 client ID on the Google Developers Console.
										Where you can obtain client id by creating new credential by selecting application type as web development">
									</i>
							
							</label>
							<label class="input">
								<input type="text" name="calender_client_id" ng-model="business_setting.google_calendar.client_id" placeholder="Please enter your Client ID." required>
							</label>
							<div class="error" ng-show="google_calendar_setting_form.calender_client_id.$dirty && google_calendar_setting_form.calender_client_id.$invalid"><p>Please enter Client ID.</p></div>
						</div>
						<div class="col-lg-12">
							<label>
								Client Secret
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" 
									tooltips tooltip-template="To obtain Client Secret with Google or Google Apps, you will need to register OAuth 2.0 client ID on the Google Developers Console.
									Where you can obtain Client Secret by creating new credential by selecting application type as web development">
								</i>
							</label>
							<label class="input">
								<input type="text" name="calender_client_secret" ng-model="business_setting.google_calendar.client_secret" placeholder="Please enter your Client secret." required>
							</label>
							<div class="error" ng-show="google_calendar_setting_form.calender_client_secret.$dirty && google_calendar_setting_form.calender_client_secret.$invalid"><p>Please enter your Client secret.</p></div>
						</div>
						<div class="col-lg-12">
							<label>
								Authorized redirect URI
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" 
									tooltips tooltip-template="To obtain Authorized redirect URI with Google or Google Apps, you will need to register OAuth 2.0 client ID on the Google Developers Console.
									Where you can obtain Authorized redirect URI by creating new credential by selecting application type as web development">
								</i>
							</label>
							<label class="input">
								<input type="url" name="redirect_url" ng-model="business_setting.google_calendar.redirect_url" placeholder="Please enter your authorized redirect URI." required>
							</label>
							<div class="error" ng-show="google_calendar_setting_form.redirect_url.$dirty && google_calendar_setting_form.redirect_url.$invalid && google_calendar_setting_form.redirect_url.$error.required"><p>Please enter your authorized redirect url.</p></div>
							<div class="error" ng-show="google_calendar_setting_form.redirect_url.$error.url"><p>Not a valid url.</p></div>
						</div>
						<div class="col-lg-12">
							<label>
								Calender Iframe
								<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" 
									tooltips tooltip-template="Calender Iframe is use to show your calender view. 
									you can obtain it from google calendar setting of your google account whose client secred and ID you had provided">
								</i>
							</label>
							<label class="input"><!--ng-bind-html-->
								<input type="text" name="calendar_iframe" ng-model="correct_word_iframe" id="calendar_iframe" placeholder="Please enter your google calender iframe." required>
							</label>
							<div class="error" ng-show="google_calendar_setting_form.calendar_iframe.$dirty && google_calendar_setting_form.calendar_iframe.$invalid"><p>Please enter your google calendar iframe.</p></div>
						</div>
						<div class="col-lg-12" style="margin:2% 0 0">
							<div class="pull-right">
								<span style="display:block;" ng-show="google_calendar_setting_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>					
								</span>
								<button type="submit" class="btn btn-warning btn-sm pull-right">UPDATE</button>
							</div>
						</div>
					</div>
				</form>
			</fieldset>
			<!--ng-init="login_form_for_user.user_type=''"-->
			<!--
			<select class="selectpicker" data-style="btn-primary">
				<option value="User">User type</option>
				<option value="Admin" >Admin</option>
				<option value="Customer">Customer</option>
			</select>
			-->
		</div>
		<div class="panel margin-bottom-10 bms-form" style="margin-top:1%">
			<form class="contact-form" name="invoice_due_date_and_cc_surcharge_setting_form" ng-submit="updateInvoiceDueDateAndCcSurchargeSetting(invoice_due_date_and_cc_surcharge_setting_form)" novalidate>
				<header>Invoice Payable in Days&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="It is the time (in days) the customer needs to pay the invoice. For Example, if you generate an invoice on 01-01-2016 and invoice days is 15, PAY BY DATE for this invoice will automatically become 15-01-2016."></i>
				</header>
				<div class="error" ng-if="invoice_due_date_setting_is_empty != ''"><p>{{invoice_due_date_setting_is_empty}}</p></div>
				<fieldset>
					<div class="row">
						<div  class="col-lg-12">
							<label class="select">
								<select name="customer_name" ng-model="invoice_payable_due_date" id="invoice_payable_due_date">
									<option value="{{due_date.value}}" ng-repeat="due_date in invoice_due_date_date_list | orderBy : 'value'"  ng-selected="due_date.value==invoice_payable_due_date">{{due_date.name}}</option>
								</select>
								<!--<select ng-model="invoice_payable_due_date" id="invoice_payable_due_date" ng-options="n for n in [] | range:1:91"></select>  -->
							</label>
							<div class="clearfix"></div>
						</div>
					</div>
				</fieldset>
				<header>Credit Card Surcharge Percentage&nbsp;&nbsp;<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Percentage of amount charged when payment is made through credit card."></i>
				</header>
				<fieldset>
					<div class="row">
						<div  class="col-lg-12">
							<label class="select">
								<select name="cc_surcharge_percentage" ng-model="cc_surcharge_percentage" id="cc_surcharge_percentage">
									<option value="{{percent.value}}" ng-repeat="percent in percent_array" ng-selected="percent.value==cc_surcharge_percentage">{{percent.value | currency:''}}&nbsp;%</option>
								</select>
								<!--<select ng-model="invoice_payable_due_date" id="invoice_payable_due_date" ng-options="n for n in [] | range:1:91"></select>  -->
							</label>
							<div class="clearfix"></div>
							<div class="col-xs-12 col-md-12 pull-right" style="padding:2% 0">
								<div class="pull-right">
									<span style="display:block;" ng-show="invoice_due_date_and_cc_surcharge_loader">
										<div style="position: relative; right: 0px; display:block; margin:0 auto; top: 0px; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;">
										</div>
									</span>
									<button type="submit" class="btn btn-warning btn-sm pull-right"  ng-confirm-click="Are you sure you want to update credit card surcharge percentage?">UPDATE</button>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div>
	<div class="clearfix"></div>
	<!-- below model will open the success messages. -->
	<modal visible="success_error_message">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert" ng-if="alert_message_success">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
				<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
	</modal>
	<!-- below model will open the success messages. -->
	<modal visible="add_google_account">
		<section id="contact-page">
			<div class="">
				<div class="panel margin-bottom-10 bms-form" style="margin-top:1%" ng-show="get_calender_code">
					<fieldset>
						<a href="{{api_auth}}" 
							target="blank" ng-click="update_code_model();">
							<button type="submit" class="btn btn-warning btn-sm pull-right">Get Calender Code</button>
						</a>
					</fieldset>
				</div>
				<div class="panel margin-bottom-10 bms-form" style="margin-top:1%"  ng-hide="get_calender_code">
					<header>Enter The Code
						<i class="fa fa-question-circle" style="font-size:13px !important; color:#0096db !important;" tooltips tooltip-template="Please copy and past code form the url got open."></i>
					</header>
					<fieldset>
						<form name="update_google_calender_code" ng-submit="updateGoogleCalenderCode()" novalidate>
							<div class="row">
								<div class="col-lg-12">
									<label class="input">
										<input type="text" name="update_google_calender_code" id="update_google_calender_code" placeholder="Please enter Google calendar code">
									</label>
								</div>
								<div class="col-lg-12" style="margin:2% 0 0">
									<div class="pull-right">
										<span style="display:block;" ng-show="add_google_account_loader">
											<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>					
										</span>
										<button type="submit" class="btn btn-warning btn-sm pull-right">SUBMIT</button>
									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</section>
	</modal>
	<!-- below model will open to add a new invoice message -->
	<modal title="Add a New Invoice Message" visible="invoice_message_model">
		<div class="bms-form noBorder">
			<div ng-show="add_new_invoice_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 99;background: url(	http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
			<form name="add_invoice_message_form" ng-submit="addInvoiceMessage(add_invoice_message_form)" novalidate>
				<div class="">
					<div class="alert alert-danger" role="alert" ng-if="invoice_message_error">
						<strong>Error!</strong>&nbsp;{{invoice_message_error}}
					</div>
					<div class="col-xs-12 col-md-12">
						<label class="textarea">
							<textarea class="form-control" rows="3" ng-model="add_invoice_message.line" name="add_message" required=""></textarea>
						</label>
						<div class="error" ng-show="add_invoice_message_form.add_message.$dirty && add_invoice_message_form.add_message.$invalid"><p>Please enter message.</p></div>
					</div>
					<br>
					<div class="col-xs-12 col-md-12 pull-right">
						<button type="submit" class="btn btn-info">Add Message</button>
					</div>
				</div>
			</form>
		</div>
	</modal>
</div>