<div ng-include src="'admin/header.html'" ng-cloak></div>
</br>
</br>
</br>
</br>
<form  name="regForm" ng-submit="editCar()" novalidate>
  <div class="row row-centered">
    <div class="col-sm-6 col-centered">
      <h2>Car Details</h2>
      <div class="errormsgtitle" ng-repeat="error in errors" style="color: red;">{{error}}</div>
      <div class="errormsgtitle" >{{sucess_message}}</div>
      <div class="errormsgtitle" style="color: red;">{{error_message}}</div>
      <br />
      <br />
      <div class="form-group">
        <label for="carClass" class="col-sm-3 control-label">Car Class</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="car_class_details_data.car_class"  name="car_class" placeholder="Car class" required>
        </div>
        <div class="help-block" ng-show="regForm.car_class.$dirty && regForm.car_class.$invalid" style="color: red;"> Please enter car class </div>
      </div>
      <br />
      <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3" ng-model="addCar.descriptions" name="description" required></textarea>
        </div>
         <div class="help-block" ng-show="regForm.description.$dirty && regForm.description.$invalid" style="color: red;"> Please enter description </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <label for="distanceFare" class="col-sm-3 control-label">Distance fare</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.distance_fare" name="distance_fare" placeholder="Distance fare" required>
        </div>
        <div class="help-block" ng-show="regForm.distance_fare.$dirty && regForm.distance_fare.$invalid" style="color: red;"> Please enter distance fare </div>
      </div>
      <div class="form-group">
        <label for="minimumFare" class="col-sm-3 control-label">Minimum fare</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.minimum_fare" name="minimum_fare" placeholder="Minimum Fare" required>
        </div>
        <div class="help-block" ng-show="regForm.minimum_fare.$dirty && regForm.minimum_fare.$invalid" style="color: red;"> Please enter your first name </div>
      </div>
      <br />
      <div class="form-group">
        <label for="watingCharge" class="col-sm-3 control-label">Wating charge</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.per_min_waiting_charges" name="per_minute_wating_charge" placeholder="Wating charge" required>
        </div>
        <div class="help-block" ng-show="regForm.wating_charge.$dirty && regForm.wating_charge.$invalid" style="color: red;"> Please enter wating charge </div>
      </div>
      <div class="form-group">
        <label for="hourlyFare" class="col-sm-3 control-label">Hourly fare</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.hourly_fare" name="hourly_fare" placeholder="Hourly fare" required>
        </div>
        <div class="help-block" ng-show="regForm.hourly_fare.$dirty && regForm.hourly_fare.$invalid" style="color: red;"> Please enter hourly fare </div>
      </div>
      <div class="form-group">
        <label for="hourlyFare" class="col-sm-3 control-label">Minumum number hour</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.minimum_number_of_hours" name="minimum_number_hour" placeholder="Minimum Number Hour" required>
        </div>
        <div class="help-block" ng-show="regForm.minimum_number_of_hours.$dirty && regForm.minimum_number_of_hours.$invalid" style="color: red;"> Please enter hourly fare </div>
      </div>
		
		<div class="clearfix"></div>
      <div class="form-group">
        <label for="inputPass
        word" class="col-sm-3 control-label">Maximum suitcases</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.maximum_suitcases" name="maximum_suitcases" placeholder="Maximum suitcases" required>
        </div>
        <div class="help-block" ng-show="regForm.maximum_suitcases.$dirty && regForm.maximum_suitcases.$invalid" style="color: red;"> Please enter maximum suitcases </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group">
        <label for="maximumPassenger" class="col-sm-3 control-label">Maximum passenger</label>
        <div class="col-sm-9">
          <input type="number" ng-min="0" class="form-control" ng-model="addCar.maximum_passengers" name="maximum_passengers" placeholder="Maximum Passengers" required>
        </div>
        <div class="help-block" ng-show="regForm.maximum_passengers.$dirty && regForm.maximum_passengers.$invalid" style="color: red;"> Please enter maximum passengers </div>
      </div>
      <br />
      <br />
      <br />
    <!--  <div class="form-group" >
        <input type="file" id="myFile" name="myFile"  file-model="addCar.file" ngf-pattern="'image/*'"
                accept="image/*"  ngf-max-size="20MB"  />
      </div>-->
      <div class="form-group" >
        <label for="button" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
          <button type="button" class="btn btn-info pull-right" ng-click="editCar();">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>

