<style type="text/css">
	.autocomplete input[type="text"]{ width:100% !important;}
</style>
 <div ng-controller="invoice" ng-cloak>
	<div class="row">
		<div class="col-lg-12" style="margin-top:16px; min-height:750px;">
			<div class="panel panel-green margin-bottom-10">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-sticky-note-o"></i> Create Invoice</h3>
				</div>
				<form id="bms-form" name="create_invoice" novalidate>
					<div class="panel-body">
						<div class="bms-form">
							<div class="clearfix"></div>
							<header style="color:#000000">STEP 1 - SELECT CUSTOMER TYPE</header></br>
							<div class="clearfix"></div>
							<header  ng-hide="booking_made_by_div"  style="color:#000000"></header>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><!-- section to choose customer type -->
								<label class="select">
									<select name="customer_name" ng-model="booking_form.customer_type" ng-change="getCustomerByType(booking_form.customer_type)" ng-init="booking_form.customer_type=''" required >
										<option value=""  disabled="disabled" selected="selected">Customer Type</option>
										<option value="corporate">COPRORATE</option>
										<option value="individual">INDIVIDUAL</option>
									</select>
									<i></i>
								</label>
								<div style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;" ng-show="customer_type_listing_loader" >
								</div>	
								
								<div class="error" ng-show="booking_form_validate.customer_name.$dirty && booking_form_validate.customer_name.$invalid">
									<p>Please select customer type.</p>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<label class="select">
									<select name="customer_name" ng-model="booking_form.customer_id" ng-change="getBookingMadeBydetails(booking_form.customer_id)" ng-init="booking_form.customer_id=''" required >
										<option value="" selected="selected">Customer Name</option>
										<option value="{{customer._id}}" ng-repeat="customer in customer_listing_data | orderBy : 'name'">{{customer.name}}</option>
									</select>
									<i></i>
								</label>
								<div class="error" ng-show="booking_form_validate.customer_name.$dirty && booking_form_validate.customer_name.$invalid">
									Please select customer name.
								</div>										
							</div>
						
						<!--
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<label ng-show="booking_form.customer_id" class="show-hide">Customer name</label>
								<section class="col col-sm-12 col-xs-12">
									<label class="select">
										<select class="select" chosen name="customer_name" ng-model="booking_form_customer_id" ng-options="customer_data._id as customer_data.name for customer_data in customer_listing_data" ng-change="getBookingMadeBydetails(booking_form_customer_id)" required>
										  </select> <i></i>  
									</label> 
									<div class="error" ng-show="booking_form_validate.customer_name.$dirty && booking_form_validate.customer_name.$invalid">
										<p>Please select a customer name</p>
									</div> 
								</section>
							</div>
							
						-->
							<div class="clearfix"></div>
							<!-- the below div is use for loader -->
							<div style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;" ng-show="booking_made_listing_loader" >
							</div>			
							<header ng-hide="booking_list_div"  style="color:#000000">STEP 2 - SELECT JOBS</header>
							<section style="margin-top:20px;" class="col col-sm-12 col-xs-12" ng-hide="booking_list_div">
								<div class="table-responsive">
									<table  class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width:190px">
													<button type="button" class="btn btn-warning btn-xs"  ng-click="checkAll()"><i class="fa fa-check-square"></i> check all</button><button type="button" class="btn btn-warning btn-xs"  ng-click="unCheckAll()"><i class="fa fa-times-circle"></i>uncheck all</button>
												</th>
												<th>Job ID</th>
												<th>Payment Status</th>
												<th>Pax Name</th>
												<th>Pax Phone</th>
												<th>Date & Time</th>
												<th>Pickup Address</th>
												<th>Drop Address</th>
												<th>Total Fare</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="13" ng-show="booking_made_listing_no_data_available" style="align:center">
													<b>No Data Available.</b>
												</td>
											</tr>
											<tr ng-repeat="job in booking_made_listing_data | orderBy:'-job.jobs.job_id':false">
												<td> 
													<label class="checkbox">
															<input type="checkbox" name="jobs_details" value="{{job.jobs.job_id}}" ><i></i>
													</label>
												</td>
												<td>{{job.jobs.job_id}}</td>
												<td ng-if="job.jobs.payment_status=='not_charged'">NOT CHARGED</td>
												<td ng-if="job.jobs.payment_status!='not_charged'">{{job.jobs.payment_status | uppercase}}</td>
												<td>{{job.jobs.pax_title}}&nbsp;{{job.jobs.pax_first_name}}&nbsp;{{job.jobs.pax_last_name}}</td>
												<td ng-if="job.jobs.pax_phone=='+-'">-</td>
												<td ng-if="job.jobs.pax_phone==''">-</td>
												<td ng-if="job.jobs.pax_phone!='' && job.jobs.pax_phone!='+-'">{{job.jobs.pax_phone}}</td>
												<td>{{job.jobs.job_date_for_display}} &nbsp;{{job.jobs.pickup_date_time.pickup_time}}</td>
												<td>{{job.jobs.from_address.label}} &nbsp; {{job.jobs.from_address.line_1}}&nbsp;{{job.jobs.from_address.line_2}}&nbsp;
													{{job.jobs.from_address.suburb_district}}&nbsp;{{job.jobs.from_address.post_code}}&nbsp;
													{{job.jobs.from_address.state}}&nbsp;{{job.jobs.from_address.country}}
												</td>
												<td>{{job.jobs.to_address.label}} &nbsp; {{job.jobs.to_address.line_1}}&nbsp;{{job.jobs.to_address.line_2}}&nbsp;
													{{job.jobs.to_address.suburb_district}}&nbsp;{{job.jobs.to_address.post_code}}&nbsp;
													{{job.jobs.to_address.state}}&nbsp;{{job.jobs.to_address.country}}
												</td>
								
												<td ng-if="job.jobs.fare[0].total_fare==''">-</td>
												<td ng-if="job.jobs.fare[0].total_fare!=''">{{job.jobs.fare[0].total_fare | number:2 | currency:business_setting_details.currency.symbol}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
							<div class="clearfix"></div>
							<div ng-show="booking_invoice_reciever_list">
								<div ng-show="loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;">
								</div>
							</div>
							<header  ng-hide="booking_invoice_reciever_list"  style="color:#000000">STEP 3 - SELECT RECEIVERS</header>
							<section style="margin-top:20px;" class="col col-sm-12 col-xs-12" ng-hide="booking_invoice_reciever_list">
								<div class="table-responsive">
									<table  class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th  style="width:190px">
												<button type="button" class="btn btn-warning btn-xs"  ng-click="checkAllBillingPerson()"><i class="fa fa-check-square"></i> check all</button><button type="button" class="btn btn-warning btn-xs"  ng-click="unCheckAllBillingPerson()"><i class="fa fa-times-circle"></i>uncheck all</button>
												</th>
												<th>Contact Type</th>
												<th>Send To</th>
												<th>Email</th>
											</tr>
										</thead>
										<tbody>
											<tr><td colspan="4" ng-show="!billing_customer_details.length" style="align:center"><b>No Data Available.</b></td></tr>
											<tr ng-repeat="invoice_receiver in billing_customer_details  | orderBy : 'name.first_name'">
												<td> 
													<label class="checkbox">
														<input type="checkbox" ng-model="invoice_receiver.Selected"  name="billing_customer_details" value="{{$index}}" ><i></i>
													</label>
												<td>{{invoice_receiver.contact_type}}</td>
												<td>{{invoice_receiver.name.title}}&nbsp;{{invoice_receiver.name.first_name}}&nbsp;{{invoice_receiver.name.last_name}}</td>
												<td>{{invoice_receiver.email}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
							<div class="clearfix"></div>
							<header  ng-hide="booking_invoice_reciever_list"  style="color:#000000">
								<div class="col col-lg-5 col-md-5 col-sm-6 col-xs-12">
									<label class="checkbox">
										<input type="checkbox" name="include_message_in_invoice">
										<i></i> Include following message in this Invoice (This value can be auto set in business settings)
									</label>
								</div>
								<div class="col col-lg-7 col-md-7 col-sm-6 col-xs-12" ng-hide="booking_invoice_reciever_list">
										
									<autocomplete ng-model="invoice_line" attr-placeholder="type invoice bottom message" click-activation="true" data="invoice_message" on-type="doSomething" on-select="doSomethingElse" class="input"></autocomplete>
								
								<!--
									<input type="text" ng-model="invoice_line" attr-placeholder="type invoice bottom message" click-activation="true" data="invoice_message" on-type="doSomething" on-select="doSomethingElse" />-->
																				
								</div>
								<div class="clearfix"></div>
							</header>							
							<header  ng-hide="booking_invoice_reciever_list"  style="color:#000000">
									<strong>NOTES</strong>
							</header>
							<div class="clearfix"></div>
							<section style="margin-top:20px;" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="booking_invoice_reciever_list">
								<label class="textarea">
									<textarea name="invoice_notes" id="invoice_notes" model="invoice_notes"></textarea>
								</label>
							</section>
							<header  ng-hide="hide_booking_invoice_watermark"  style="color:#000000">
								<div class="col col-lg-5 col-md-5 col-sm-6 col-xs-12">
									<label class="checkbox">
										<input type="checkbox" name="include_watermark_in_invoice">
										<i></i> ADD PAID WATERMARK TO THIS INVOICE
									</label>
								</div>
								<div class="clearfix"></div>
							</header>	
							<div style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;" ng-show="loader" >
							</div>
							<header  ng-hide="booking_invoice_reciever_list"  style="color:#000000">
								<button value="Save" class="save" ng-click="showPreviewAndSendInvoice();">Preview And Send</button>
							</header>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<modal title="Send Invoice" visible="preview_invoice_and_send_mail" class="customModal">
		<form role="form" ng-submit="sendInvoiceToCustomer();" name="addDriversAddress" novalidate style="width=1020px" >
			<div class="row">
				<div class="col-md">
					<div style=' width: 96%; margin: 0 auto;'>
						<div style='height: 35px; width: 100%;margin: 20px 0;background: #eee;text-align: center; font: bold 15px Helvetica,ans-Serif;text-decoration: uppercase; letter-spacing: 20px;padding: 8px 0px;'>
							TAX INVOICE
						</div>
						<div>
							<div style='width: 250px; height: 220px; float: left;'>
								<img ng-src="{{business_setting_details.bms_logo[0].image_path}}" alt="logo" style='height:90px'/>
								</br>
								<strong>{{business_setting_details.business_name}}</strong></br>
								{{business_setting_details.bms_slogan}}</br>
								{{business_setting_details.address[0].line_1}}&nbsp;{{business_setting_details.address[0].line_2}}&nbsp;{{business_setting_details.address[0].suburb_district}}</br>
								{{business_setting_details.address[0].city}}&nbsp;{{business_setting_details.address[0].country}}</br>
								Email: {{business_setting_details.bms_email.billing_email[0].email}}
							</div>
							<div style='text-align: right; float: right; position: relative; margin-top: 20px;border: 1px solid #fff; max-width: 540px; max-height: 110px; overflow: hidden; '>
								<table style='margin-top: 1px; width: 300px; float: right; '>
									<tr>
										<td style='text-align: right; width:50%'>Invoice Number</td>
										<td style='text-align: right; height: 20px;'> NEXT-INVOICE</td>
									</tr>
									<tr>
										<td style='text-align: right; '>Invoice Date</td>
										<td  style='text-align: right; height: 20px;'>{{invoice_date| date:'dd-MM-yyyy'}}</td>
									</tr> 
									<tr ng-show="show_for_invoice_customer">
										<td style='text-align: right; '>Due Date</td>
										<td  style='text-align: right; height: 20px;'>{{invoice_due_date| date:'dd-MM-yyyy'}}</td>
									</tr>
									
									<tr>
										<td style='text-align: right;'>Invoice Amount</td>
										<td  style='text-align: right; height: 20px;'>{{business_setting_details.currency.symbol}}&nbsp;{{total_invoice_amount_to_be_paid | number:2}}</td>
									</tr>
								</table>
							</div>
						</div>
						<div style='clear:both'></div>
						<div></br>
							<div><strong>INVOICE TO  </strong>
								</br>{{customer_detail_for_sending_invoice.name}}</br>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped invoice-table">
								<thead>
									<tr>
										<th>Job Number</th>
										<th>Date & Time</th>
										<th>Pax Name</th>
										<th>From Address</th>
										<th>To Address</th>
										<th style="text-align: right; ">Base Fare</th>
										<th style="text-align: right; ">Extra</th>
										<th style="text-align: right; ">Total Fare</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="invoice in selected_invoice_job | orderBy:'-job_id':false">
										<td>
											{{invoice.job_id}}
										</td>
										<td>
											{{invoice.job_date_for_display}}</br>{{invoice.pickup_date_time.pickup_time}}
										</td>
										<td>
											{{invoice.pax_title}}&nbsp;{{invoice.pax_first_name}}&nbsp;{{invoice.pax_last_name}}
										</td>
										<td>{{invoice.from_address.label}} &nbsp; {{invoice.from_address.line_1}}&nbsp;{{invoice.from_address.line_2}}&nbsp;
													{{invoice.from_address.suburb_district}}&nbsp;{{invoice.from_address.post_code}}&nbsp;
													{{invoice.from_address.state}}&nbsp;{{invoice.from_address.country}}
										</td>
										<td>{{invoice.to_address.label}} &nbsp; {{invoice.to_address.line_1}}&nbsp;{{invoice.to_address.line_2}}&nbsp;
											{{invoice.to_address.suburb_district}}&nbsp;{{invoice.to_address.post_code}}&nbsp;
											{{invoice.to_address.state}}&nbsp;{{invoice.to_address.country}}
										</td>
										<td style="text-align: right; ">
											{{business_setting_details.currency.symbol}}&nbsp;{{invoice.fare[0].base_price | number:2 }}
										</td>
										<td style="text-align: right; ">
											<span>
												{{business_setting_details.currency.symbol}}&nbsp;{{invoice.fare[0].total_fare-invoice.fare[0].base_price | number:2 }}
											</span>
										</td>
										<td style="text-align: right; ">
											 {{business_setting_details.currency.symbol}}&nbsp;{{invoice.fare[0].total_fare | number:2 }}
										</td>
									</tr>
									<tr ng-show="show_total_part">
										<td colspan="2" ></td>
										<td colspan="4" style="text-align: right; "><strong>Total</strong></td>
										<td  colspan="2" style="text-align: right; ">
											<strong> {{business_setting_details.currency.symbol}}&nbsp;{{total_invoice_amount | number:2}}</strong>
										</td>
									</tr>
									<tr ng-show="show_discount_part">
										<td colspan="2" ></td>
										<td colspan="4" style="text-align: right; "><strong>Discount</strong></td>
										<td  colspan="2" style="text-align: right; ">
											<strong><span style="color:red">( - )</span> {{business_setting_details.currency.symbol}}&nbsp;{{discount_made_on_invoice | number:2}}</strong>
										</td>
									</tr>
									<tr ng-show="show_invoice_surcharge_part">
										<td colspan="2" ></td>
										<td colspan="4" style="text-align: right; "><strong>Invoice Surcharge</strong></td>
										<td  colspan="2" style="text-align: right; ">
											<strong> {{business_setting_details.currency.symbol}}&nbsp;{{surcharge_amount | number:2}}</strong>
										</td>
									</tr>
									<tr ng-show="show_tax_on_fare_part">
										<td colspan="2" ></td>
										<td colspan="4" style="text-align: right; "><strong>{{business_setting_details.taxes[0].name}}</strong></td>
										<td  colspan="2" style="text-align: right; ">
											<strong> {{business_setting_details.currency.symbol}}&nbsp;{{tax_amount_on_fare | number:2}}</strong>
										</td>
									</tr>
									<tr>
										<td colspan="2" ></td>
										<td colspan="4" style="text-align: right; "><strong>Invoice Total</strong></td>
										<td  colspan="2" style="text-align: right; ">
											<strong> {{business_setting_details.currency.symbol}}&nbsp;{{total_invoice_amount_to_be_paid | number:2}}</strong>
										</td>
									</tr>
									<tr ng-show="show_tax_within_the_fare_part">
										<td  colspan="8" style="text-align: center; border-bottom:0px; ">
											<strong> {{tax_is_included_within_the_fare}}</strong>
										</td>
									</tr>
									<tr>
										<td  colspan="8" style="text-align: center;border-bottom:0px; padding-top:10px; font-size:16px;">
											<strong> {{invoice_line}}</strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="clear:both;">
							<table width="100%">
								<tbody>
									<tr>
										<td><hr style='border:none; border-top:1px dotted #000; color:#fff; background-color:#fff; height:5px;'/></hr></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel panel-default margin-bottom-40">
							<div class="col-md-4">Remittance Advice</div><div class="col-md-4"> Customer Name : {{customer_detail_for_sending_invoice.name}} </div><div class="col-md-4">TAX INVOICE : NEXT INVOICE NUMBER</div>
							
							<div class="col-md-4">PAYMENT METHODS</div><div class="col-md-4"> {{business_setting_details.currency.symbol}}&nbsp;{{total_invoice_amount_to_be_paid | number:2}}</div>
						</div>
						<div class="clearfix"></div>
						<div class="table-responsive">
							<table class="table table-striped invoice-table" style="margin-top:10px;">
								<thead>
									<tr>
										<th>BANK TRANSFER</th>
										<th>CREDIT CARD</th>
										<th class="hidden-sm">CHEQUES</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div ng-repeat="bank in business_setting_details.bank_details"><strong>{{bank.name}}  </strong> &nbsp:&nbsp: {{bank.value}} </div>
											<strong>REF&nbsp;: &nbsp;</strong>NEXT INVOICE NUMBER
										</td>
										<td>
											Please call or email us with details
										</td>
										<td>
											Please make cheques payable to: <br>
											<strong> {{business_setting_details.cheque_payment_details}} </strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" >
				  <button type="submit" class="btn btn-warning btn-xs">SEND INVOICE

					<div ng-show="send_invoice_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;">
					</div>

				  </button>&nbsp;<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>	
		</form>
	</modal>
	<!-- below model will open the messages. -->
	<modal title="Success message" visible="success_message_model">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
			</div>
		</section>
		<div class="modal-footer" >
			<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
		</div>	
	</modal>
	<modal title="Error message"  visible="error_message_model">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-danger" role="alert">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
		<div class="modal-footer" >
			<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
		</div>	
	</modal>
</div>