<div ng-controller="css_templates" ng-cloak>
	<div class="col-lg-12" style="margin-top:16px; min-height:750px;">
		<div class="row row-centered">
			<div class="col-lg-6 col-xs-12 col-centered">
				<div ng-show="template_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
				<div class="panel panel-green margin-bottom-10">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;Templates</h3>
			</div>
			<!-- Search Box. -->
			<div class="panel-body text-center" ng-hide="no_data_found">
				<div class="col-sm-4 col-sm-offset-4">
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"  ng-model="search" placeholder="Search">
							<span class="input-group-addon">
								<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
							</span> 
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<!-- show driver account details -->
				<table  class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>       
							<th ng-click="sort('name')">Templates&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th>Images</th>
						</tr>
					</thead>
					<tbody ng-show="no_data_found">
						<tr>
							<td colspan="9"><div>No template found.</div></td>
						</tr>
					</tbody>
					<tbody ng-hide="no_data_found">
						<tr dir-paginate="templates in css_templates|orderBy:sortKey:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
							<tr ng-repeat="templates in css_templates|orderBy:sort_table:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
								<td align="center"><input  tooltips  tooltip-side="right" tooltip-template="Do you want to apply this template?" type="radio" name="template" value="{{templates.number}}" ng-model="bms_template_number" ng-click="selectCssTemplate(templates.number)"><i style="top:-10px; left:12px;"></i></td>
								<td>{{templates.name}}</td>
								<td><img alt="" ng-src="{{templates.images[0].image_path}}" class="themeImage"></td>
							</tr>
						</tr>
					</tbody>
				</table><!-- end of main table-->
			</div><!-- end of main table div> -->
			<!-- for all account balance -->
		</div><!-- end of main panel-->
				<div class="pull-left bms-form noBorder" ng-hide="no_data_found">
			<div class="dataTables_length" id="dataTables-example_length">
				<label>Show</label>
				<label class="select">
					<select class="form-control" ng-model="selected_search_type_per_page" 
							ng-options="search.value as search.name for search in page_per_pagination" 
							ng-init="selected_search_type_per_page=selected_page_pagination">
						<option value="" disabled>Select no of rows</option>
					</select>
					<i></i>
				</label>
			</div>
		</div>
				<ul class="pagination pull-right">
			<dir-pagination-controls
									max-size="5"
									direction-links="true"
									boundary-links="true" >
			</dir-pagination-controls>
		</ul>
			</div>
		</div>
	</div><!-- end of main container -->
	<div class="clearfix"></div>
	<!-- below model will open the success messages. -->
	<modal visible="success_error_message">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert" ng-if="alert_message_success">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
				<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
	</modal>
</div>