<div ng-include src="'admin/header.html'" ng-cloak></div>
</br>
</br>
</br>
</br>
<form  name="regForm" ng-submit="addCustomer()"  enctype="multipart/form-data" novalidate>
  <div class="row row-centered">
    <div class="col-sm-6 col-centered">
      <h2>Add Customer</h2>
      <div class="errormsgtitle" ng-repeat="error in errors" style="color: red;">{{error}}</div>
      <div class="errormsgtitle" >{{sucess_message}}</div>
      <div class="errormsgtitle" style="color: red;">{{error_message}}</div>
      <div class="form-group" >
        <label for="inputPassword" class="col-sm-3 control-label">User Type</label>
        <div class="col-sm-9">
          <select class="form-control" ng-change="showAddress(user)" ng-model="customerRegistration.customer_type" >
            <option value="individual">Individual</option>
            <option value="corporate">Coporate</option>
            <option style="display:none" value="">User Type</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group" >
        <label for="Contact" class="col-sm-3 control-label">Contact type</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="customerRegistration.contact_title">
            <option style="display:none" value="">All</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group" >
        <label for="inputPassword" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="customerRegistration.contact_title">
            <option name="mr">Mr</option>
            <option name="mrs">Mrs</option>
            <option style="display:none" value="">Title</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label" >First name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="customerRegistration.contact_first_name" name="first_name" placeholder="First name" required>
        </div>
        <div class="help-block" ng-show="regForm.first_name.$dirty && regForm.first_name.$invalid" style="color: red;"> Please enter your first name </div>
      </div>
      <br />
      <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Last name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="customerRegistration.contact_last_name" name="last_name" placeholder="Last name" required>
        </div>
        <div class="help-block" ng-show="regForm.last_name.$dirty && regForm.last_name.$invalid" style="color: red;"> Please enter your last name </div>
      </div>
      <br />
      <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="customerRegistration.contact_email" name="email" placeholder="Email" required>
        </div>
        <div class="help-block" ng-show="regForm.email.$dirty && regForm.email.$invalid" style="color: red;"> Please enter a valid email </div>
      </div>
      <br />
      <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control"  ng-model="customerRegistration.contact_password" name="password" placeholder="Password" required>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="Calling Code" class="col-sm-3 control-label">Calling Code</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="customerRegistration.contact_calling_code" >
            <option value="{{country.calling_code}}" ng-repeat="country in country_data">{{country.calling_code}}</option>
            <option style="display:none" value="">Calling Code</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-3 control-label" >Phone </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="customerRegistration.contact_phone_number" name="phone" placeholder="Phone Number" required>
        </div>
        <div class="help-block" ng-show="check_number" style="color:red;"> Please enter valid phone </div>
        <div class="help-block" ng-show="((regForm.phone.$error.minlength || regForm.phone.$error.maxlength) && regForm.phone.$dirty && regForm.phone.$invalid) " style="color:red;"> Phone number should be 10 digits </div>
      </div>
      <br />
      <div class="form-group">
        <label for="Public preference" class="col-sm-3 control-label">Public preference</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3" ng-model="customerRegistration.contact_public_preferences" name="public_pref" required></textarea>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <label for="Private preference" class="col-sm-3 control-label">Private preference</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3" ng-model="customerRegistration.contact_private_preferences" name="private_pref"></textarea>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="Internal notes" class="col-sm-3 control-label">Internal notes</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3" ng-model="customerRegistration.contact_internal_notes" name="internal_notes"></textarea>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="External notes" class="col-sm-3 control-label">External notes</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3"  ng-model="customerRegistration.contact_external_notes" name="external_notes"></textarea>
        </div>
      </div>
      <br />
      <div ng-hide="address_div">
        <div class="form-group">
          <label for="Business name" class="col-sm-3 control-label">Business name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Business" id="business_name" ng-model="customerRegistration.business_name" name="business_name">
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="Address" class="col-sm-3 control-label" >Address 1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Address1"  id="address1" ng-model="customerRegistration.address.line_1" name="line1">
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="Address" class="col-sm-3 control-label" >Address 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Address2" ng-model="customerRegistration.address.line_2" name="line2">
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="District" class="col-sm-3 control-label">Sub/District</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Sub/District" id="district" ng-model="customerRegistration.address.subrub_district" name="district">
          </div>
        </div>
        <br />
        <div class="form-group" >
          <label for="country" class="col-sm-3 control-label">Country</label>
          <div class="col-sm-9">
            <select class="form-control" ng-model="customerRegistration.address.country" id="country">
              <option value="{{country.name}}" ng-repeat="country in country_data">{{country.name}}</option>
              <option style="display:none" value="">Select country</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-3 control-label">City</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="City" id="city" ng-model="customerRegistration.address.city" name="city">
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="post code" class="col-sm-3 control-label">Post Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Postcode" id="post_code" ng-model="customerRegistration.address.post_code" name="post_code">
          </div>
        </div>
        <br />
        <div class="form-group" >
          <label for="state" class="col-sm-3 control-label">State</label>
          <div class="col-sm-9">
            <select class="form-control" ng-model="customerRegistration.address.state" id="state" name="state">
              <option value="west_bengal" >West Bengal</option>
              <option style="display:none" value="">Select state</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group" >
        <label for="image" class="col-sm-3 control-label">Image</label>
      <!-- <input type="file" ngf-select   name="file"  ng-model="customerRegistration.file" ngf-pattern="'image/*'"
                accept="image/*"  ngf-max-size="20MB"  />-->
                <div class="form-group" >
				<input type="file" id="myFile" name="myFile" accept="application/zip" file-model="customerRegistration.file" />
						
          </div>
      </div>
      <div class="form-group" >
        <label for="button" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
          <button type="button" class="btn btn-info pull-right" ng-click="addCustomer();">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>
<style>
 
</style>
