<!-- start of main container all html should be within this div-->
<div  ng-controller="manageProfile" ng-cloak>
	<div class="col-lg-12" style="margin-top:16px; min-height:750px;">
	<!-- Loader -->
		<div ng-show="profile_setting_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
		<div class="row row-centered">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-centered">
				<div class="panel panel-green margin-bottom-10">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-tasks"></i>Edit Profile<a href="" ng-click="showPasswordModal()" class="pull-right changePass" style="font-size:13px;">Change password</a></h3>
					</div>
					<div id="contact-page" class="panel-body profileSec" style="margin:0px 0px; padding-left:0; padding-right:0;"> 
						<div class="skill-wrap clearfix" style="margin:0px 0px;">
							<div class="alert alert-success" style="border-radius:6px;" ng-hide="disable_success_msg" ng-repeat="success_message in success_messages">
								<a class="close" data-dismiss="alert" aria-label="close">&times;</a>	
									{{success_message}} 
							</div>
							<div class="alert alert-danger" style="border-radius:6px;" ng-hide="disable_error_msg" ng-repeat="error_message in error_messages">
								<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
									{{error_message}} 
							</div>
							<div class="bms-form noBorder">
								<form id="main-contact-form" class="contact-form" name="edit_profile" ng-submit="editProfileByUser(edit_profile, 'contact')" novalidate>
									<div class="col-md-3 col-sm-5 col-xs-12">
										<div class="profileImg text-center profile-blog">
											<img ng-src="{{profile.image[0].image_path}}" width="200" height="150" alt="No Image">
											<!--div class="text-left">
												{{profile.image[0].image_name}}
											</div-->
											<div class="name-location">
												<strong>{{profile.title}} {{profile.first_name}} {{profile.last_name}}</strong>
												<!--<span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>-->
											</div>
											<div ng-class="{'has-success': edit_profile.image.$valid}">
												<label>
													<div ng-if="profile.image[0].image_name" class="form-group pull-left btn btn-info btn-xs" style="border-radius:2px;" ng-click="showImageUploadPanel()">
														<i class="fa fa-picture-o"></i>&nbsp;Change Profile Image
													</div>
													<div ng-if="!profile.image[0].image_name" class="form-group pull-left btn btn-info btn-xs" style="border-radius:2px;" ng-click="showImageUploadPanel()">
														<i class="fa fa-picture-o"></i>&nbsp;Add Profile Image
													</div>
												</label>
												<file ng-show="upload_profile_image" name="image" ng-model="profile.image_name" />
											</div>
										</div>
									</div>
									<div class="col-md-9 col-sm-7 col-xs-12">
										<div class="text-left profile-blog" style="padding-left:0; padding-right:0;">
											<div class="col-md-3 col-xs-12" ng-class="{'has-error': edit_profile.title.$invalid, 'has-success': !edit_profile.title.$invalid}">
												<label class="text-left">Title<span style="color: red;">&nbsp;*</span></label>
												<label class="select">
													<select ng-model="profile.title" name="title" required><!-- ng-selected="profile.title = 'Miss.'"-->
														<option value="Mr">Mr</option>
														<option value="Mrs">Mrs</option>
														<option value="Ms">Ms</option>
														<option style="display:none" value="" selected disabled="disabled">Title</option>
													</select>
													<i></i>
												</label>
												<div class="error" ng-show="edit_profile.title.$dirty && edit_profile.title.$invalid">
													<p>Please select title.</p>
												</div>
											</div>
											<div class="col-md-5 col-xs-12" ng-class="{'has-error': edit_profile.first_name.$invalid,'has-success': edit_profile.first_name.$valid}">
												<label>First Name<span style="color: red;">&nbsp;*</span></label>
													<label class="input">
														<input type="text" name="first_name" ng-model="profile.first_name" ng-model-options="{ updateOn: 'blur' }"  placeholder="Please enter" required>
													</label>
													<div class="error" ng-show="edit_profile.first_name.$dirty && edit_profile.first_name.$invalid">
														<p>Please enter first name.</p>
													</div>
											</div>
											<div class="col-md-4 col-xs-12" ng-class="{'has-error': edit_profile.last_name.$invalid, 'has-success': !edit_profile.last_name.$invalid}">
												<label>Last Name<span style="color: red;">&nbsp;*</span></label>
												<label class="input">
													<input type="text" name="last_name" ng-model="profile.last_name" ng-model-options="{ updateOn: 'blur' }" placeholder="Please enter" required>
												</label>
												<div class="error" ng-show="edit_profile.last_name.$dirty && edit_profile.last_name.$invalid"><p>Please enter last name.</p></div>
											</div>
											<div class="clearfix"></div>
											<div class="col-xs-3 col-md-3">
												<label for="pwd">Contact Type<span style="color:red;">&nbsp;*</span></label>   
												<label class="select">
													<select ng-model="profile.phone[0].type" name="phone_type" required>
														<option style="display:none" value="" selected disabled="disabled">Type</option>
														<option value="office">Office</option>
														<option value="home">Home</option>
														<option value="others">Others</option>
													</select>
													<i></i>
												</label>
												<div class="error" ng-show="edit_profile.phone_type.$dirty && edit_profile.phone_type.$invalid"><p>Please select your phone type.</p>
												</div>
											</div>
											<div class="col-md-5 col-xs-12"  ng-class="{'has-error': edit_profile.calling_code.$invalid, 'has-success': !edit_profile.calling_code.$invalid}">
												<label>Calling Code<span style="color: red;">&nbsp;*</span></label>
												<label class="select">
													<select ng-model="profile.phone[0].calling_code" name="calling_code" ng-model-options="{updateOn: 'click'}"  required>
														<option ng-repeat="country_data in country_data | orderBy:'name'" ng-selected="profile.phone[0].calling_code==country_data.calling_code"
																value="{{country_data.calling_code}}">{{country_data.name}}(+{{country_data.calling_code}})
														</option>
														<option style="display:none" value="">Calling code</option>
													</select>
													<i></i>
												</label>
												<div class="error" ng-show="edit_profile.calling_code.$dirty && edit_profile.calling_code.$invalid">
													<p>Please select your calling code.</p>
												</div>
											</div>
											<div class="col-md-4 col-xs-12" ng-class="{'has-error': edit_profile.number.$invalid, 'has-success': !edit_profile.number.$invalid}">
												<label>Phone<span style="color: red;">&nbsp;*</span></label>
												<label class="input">
													<input type="text" name="number" ng-model="profile.phone[0].number" ng-model-options="{ updateOn: 'blur' }" minlength="10" maxlength="10" ng-pattern="/[0-9]/" placeholder="Please enter contact number" required>
												</label>
												<div class="error" ng-show="edit_profile.number.$dirty && edit_profile.number.$invalid">
												<p>Please enter a valid 10 digit phone number.</p></div>
											</div>
											<div class="col-md-6 col-xs-12" ng-class="{'has-error': edit_profile.email.$invalid, 'has-success': !edit_profile.email.$invalid}">
												<label>Email<span style="color: red;">&nbsp;*</span></label>
												<label class="input">
													<input type="email" name="email" ng-model="profile.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Please enter email address" required>
												</label>
												<div class="error" ng-show="edit_profile.email.$dirty && edit_profile.email.$invalid">
												<p>Please enter valid email address.</p></div>
											</div>
											<div class="clearfix"></div>
											<div class="clearfix"></div>
											<div class="col-md-4">
												<div class="form-group pull-left">
													<span style="display:block;" ng-show="update_profile_loader">
														<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>													
													</span>
													<button style="margin-top:15px;" type="submit" name="submit" class="save">Update</button>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</form> 
							</div>
						</div><!--/.container-->
					</div><!--/#contact-page-->
				</div>
				<modal title="Change password" visible="show_change_password_model">
					<section id="contact-page1">
						<div class="skill-wrap clearfix" style="margin:0px 0px;">
							<div class="alert alert-success" style="border-radius:6px;" ng-hide="disable_success_message" ng-repeat="password_change_success_message in change_password_success_messages">
								<!--a class="close" data-dismiss="alert" aria-label="close">&times;</a-->
									{{password_change_success_message}} 
							</div>
							<div class="skill-wrap clearfix" style="margin:0px 0px;">
								<div class="alert alert-danger" style="border-radius:6px;" ng-hide="disable_error_message" ng-repeat="password_change_error_message in change_password_error_messages">
									<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
										{{password_change_error_message}} 
								</div>
								<div class="row contact-wrap" ng-hide="hide_change_password_panel"> 
									<div class="col-md-12 bms-form noBorder">
										<form id="main-contact-form" class="contact-form" name="change_password" ng-submit="changePasswordByUser(change_password)" novalidate>
											<label>Current Password<span style="color: red;">&nbsp;*</span></label>
											<div class="form-group text-left" ng-class="{'has-error': change_password.current_password.$invalid, 'has-success': !change_password.current_password.$invalid}">
												<label class="input">
													<input type="password" name="current_password" ng-pattern="profile.password" ng-model="edit_password.current_password" ng-model-options="{ updateOn: 'blur' }" placeholder="Please enter current password" minlength="6" required>
												</label>
												<div class="error" ng-show="change_password.current_password.$dirty && change_password.current_password.$invalid && change_password.current_password.$error.required"><p>Please enter your current password.</p></div>
												<div class="error" ng-show="change_password.current_password.$error.pattern"><p>Current password does not match.</p></div>
											</div>
											<label>New Password<span style="color: red;">&nbsp;*</span></label>
											<div class="form-group text-left" ng-class="{'has-error': change_password.new_password.$invalid, 'has-success': !change_password.new_password.$invalid}">
												<label class="input">
													<input type="password" name="new_password" ng-model="edit_password.new_password" ng-model-options="{ updateOn: 'blur' }" placeholder="Please enter new password" minlength="6" required>
												</label>
												<div class="error" ng-show="change_password.new_password.$dirty && change_password.new_password.$invalid"><p>Please enter new password of minimum 6 character.</p></div>
											</div>
											<label>Confirm Password<span style="color: red;">&nbsp;*</span></label>
											<div class="form-group text-left" ng-class="{'has-error': change_password.confirm_password.$invalid, 'has-success': !change_password.confirm_password.$invalid}">
												<label class="input">
													<input type="password" name="confirm_password" ng-model="edit_password.confirm_password" ng-model-options="{ updateOn: 'blur' }" ng-pattern="(edit_password.new_password)" placeholder="Please enter confirm password" minlength="6" required>
												</label>
												<div class="error" ng-show="change_password.confirm_password.$dirty && change_password.confirm_password.$invalid && change_password.confirm_password.$error.required"><p>Please enter confirm password of minimum 6 character.</p></div>
												<div class="error" ng-show="change_password.confirm_password.$error.pattern"><p>Confirm password should match with new password.</p></div>
											</div>
											<div class="modal-footer" style="padding-left:0; padding-right:0;">
												<div class="pull-right">
													<span style="display:block;" ng-show="password_update_loader"><div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div></span>
													<button type="submit" name="submit" class="btn btn-warning btn-xs">Change password</button>
												</div>											
											</div> 
										</form> 
									</div>
								</div><!--/.row-->
							</div><!--/.container-->
						</div><!--/.container-->
					</section><!--/#contact-page-->
				</modal>								
			</div>
		</div>
	</div><!-- end of main container -->
	<div class="clearfix"></div>
</div>