	<div class="footer-v1" ng-cloak>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 allrightSec">
                        <p>
                            2016 &copy; All Rights Reserved.
                        </p>
                    </div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right conpanynameSec">
						<p><a href="#">limolog.com</a></p>
					</div>
                </div>
            </div>
        </div><!--/copyright-->
    </div>