<section id="contact-page" ng-cloak>
	<div ng-show="resend_reset_code_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
    <div class="container" style="margin-top:13%; margin-bottom:8%;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger" ng-hide="email_error_get_from_server">
                    <!--a  class="close" data-dismiss="alert" aria-label="close">&times;</a-->
                    {{error_message}} 
                </div>
                <div ng-show="forget_passwd_form">
                    <form class="form-auth" name="forget_passwd_form"  novalidate>
                        <div class="reg-header">
                            <h3>Enter your email id to get reset code</h3>  
                        </div>
                        <!-- Below section is for choose user type-->
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon"><i class="fa fa-user"></i><span> <i class="fa fa-question-circle" tooltips tooltip-template="If you are site admin <br>select 'Admin'."></i></span></span>
                            <select class="form-control" id="title" name="type_of_user" ng-model="email.user_type" ng-model-options="{updateOn: 'click'}"  ng-init="email.user_type = 'Admin'" required>
                                <option value="" disabled>User type</option>
                                <option value="Admin">Admin</option>
                                <option value="Customer">Customer</option>  
                                <option value="Driver">Driver</option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom-20" ng-class="{'has-error' : forget_passwd_form.email.$dirty, 'has-success': !forget_passwd_form.email.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input type="email" ng-model="email.email" placeholder="Enter your email" class="form-control" name="email" ng-model-options="{ updateOn: 'blur' }" required />
                        </div>
                        <!--div style="color: red;" ng-show="forget_passwd_form.email.$error.email">Please enter a valid email address.</div-->
                        <div style="color: red;" ng-show="forget_passwd_form.email.$dirty && forget_passwd_form.email.$invalid">Please enter a valid email address.</div>
                        <hr>
                        <div class="row col-md-6">
							<div class="form-group pull-left">
								<span style="display:block;" ng-show="forget_password_loader">
									<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>													
								</span>
								<button type="button" value="Log in" class="btn btn-info"  ng-click="forgetPassword()">Submit</button>
							</div>
						</div>
                    </form>
                </div>
                <!-- Below section is for client put reset code that he get form his or her email account and new password-->
                <div ng-hide="password_reset_form">
                    <div class="alert alert-success" ng-hide="password_reset_code_get_from_server">
                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Password reset code successfully send to {{email_address}} 
                    </div>
                    </br>
                    <div class="alert alert-danger" ng-hide="error_on_password_reset_code_get_from_server"> 
                        <!--a class="close" data-dismiss="alert" aria-label="close">&times;</a-->
                        {{error_message}} 
                    </div>
                    <form class="form-auth" name="passwd_reset_form" novalidate>
                        <div class="reg-header"><h2>Reset Code</h2></div>
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-12" ng-class="{'has-error' : passwd_reset_form.email_code.$dirty,'has-success': !passwd_reset_form.email_code.$invalid}">
                                    <label>
                                        <div class="label_1"><span style="color: red;">&nbsp;*</span>PASSWORD RESET CODE</div>
                                    </label>
                                    <input type="text" ng-model="user.reset_code" name="email_code" placeholder="123 456"
                                           class="form-control" minlength="6" maxlength="6" ng-minlength="6" value="" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/[0-9]/" required>
                                    <!--Email error handling -->
                                    <div ng-show="passwd_reset_form.email_code.$dirty && passwd_reset_form.email_code.$invalid" style="color: red;">Please enter reset code</div>
                                    <span ng-show="email_varification_code" style="color: red;">Please enter reset code of 6 digit</span>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-xs-12" ng-class="{'has-error' : passwd_reset_form.password.$dirty,'has-success': !passwd_reset_form.password.$invalid}">
                                    <label>
                                        <div class="label_1"><span style="color: red;">&nbsp;*</span>PASSWORD</div>
                                    </label>
                                    <input ng-model="user.password" type="password" name="password"  placeholder="Minimum 6 Characters" class="form-control" minlength="6" ng-model-options="{ updateOn: 'blur' }" required>
                                    <div>
                                        <!--Password error handling -->
                                        <div ng-show="passwd_reset_form.password.$dirty && passwd_reset_form.password.$invalid" style="color: red;">Please enter your new password minimum 6 character</div>
                                        <span style="color: red;" ng-show="passwMinlength">Password too short!</span>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-xs-12" ng-class="{'has-error' : passwd_reset_form.confirm_password.$dirty,'has-success': !passwd_reset_form.confirm_password.$invalid}">
                                    <label>
                                        <div class="label_1"><span style="color: red;">&nbsp;*</span>CONFIRM PASSWORD</div>
                                    </label>
                                    <input ng-model="user.password_verify" ng-pattern="user.password" type="password" name="confirm_password" placeholder="Minimum 6 Characters" class="form-control" ng-model-options="{ updateOn: 'blur' }" required>
                                    <!--Confirm password verify error handling -->
                                    <div ng-show="passwd_reset_form.confirm_password.$error.pattern" style="color: red;">Password are not match!</div>
                                    <div ng-show="passwd_reset_form.confirm_password.$dirty && passwd_reset_form.confirm_password.$invalid && passwd_reset_form.confirm_password.$error.required" style="color: red;">Please confirm your password</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><br><br>
									<div class=" pull-right">
										<span style="display:block;" ng-show="forget_password_loader">
											<div style="position: relative; display:block; margin:0 auto; width: 32px; height: 27px; z-index: 99; background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat; background-size:70%;"></div>													
										</span>
										<button type="button" class="btn btn-info" ng-click="passwReset()">RESET PASSWORD</button>
									</div>
								</div>
                            </div>
                        </div>
                    </form>
                    <hr style="margin-bottom:10px;">
                    <!-- Below section is for if client need to resend code-->
                    <div class="panel-body" style="padding-top:0;">
                        <p class="pull-right">To resend your code<a href="" ng-click="resendCode()" class="color-green">click here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/wow.min.js"></script> 
</body>
</html>