<div class="logoSec" ng-controller="login" ng-cloak>
	<div class="container">
		<div class="col-ld-12">
			<a class="navbar-brand" href="#">
				<div class="logo"><img ng-src="{{business_logo}}" alt="Business Logo"></div>
				<div class="caption">
					{{business_name}}
					<span style="display:block; font-size:14px; font-weight:600; margin-top:10px;">{{bms_slogan}}</span>
				</div>
			</a>
			<div class="topbar">
				<ul class="loginbar">
					<li class="hoverSelector">
						<img alt="" ng-if="user_profile_image != ''" ng-src="{{user_profile_image}}" class="rounded-x">
						<a href="">Welcome<span style="display:block; font-weight:400;">{{user_name | capitalize:true}}</span></a>
						<ul class="languages hoverSelectorBlock">
							<li class="active">
								<a href="">Logged in as {{user_type | uppercase}}</a>
							</li>
						</ul>
					</li>
					<li class="topbar-devider"></li>
					<li class="loginbtn"><a href="#" ng-click="logout()">Logout<span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-fixed-top" ng-controller="login" ng-cloak>
	<div class="container"  style="position:relative;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> 
		</div>
		<div id="navbar" class="navbar-collapse collapse" style="margin:0; padding:0;">
			<ul class="nav navbar-nav">
				<li class="dropdown" ng-hide="contact_type == 'billing'">    
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Booking</a>  
					<ul class="dropdown-menu">
						<li ng-hide="user_type == 'Driver' || contact_type == 'pax'">
							<a  ng-controller="bookingListController" ng-click="addTab('New Booking','../repo/templates/booking.html','')">Make Booking</a>
						</li>
						<li>
							<a ng-click="addTab('Booking List(Table View)','../repo/templates/booking_list_table_view.html','')">Bookings - Table View</a>
						</li>
						<li >
							<a ng-controller="bookingListController" ng-click="addTab('Booking List(Grid View)','../repo/templates/booking_list_grid_view.html','')">Bookings - Grid View</a> 
						</li>
						<li>
							<a ng-click="addTab('Google Calendar','../repo/templates/calendar.html','')">Bookings - Google Calendar</a>
						</li>
						
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
					<ul class="dropdown-menu">
						<li ng-controller="bookingListController">
							<a  ng-click="addTab('Customer List','../repo/templates/customer_list.html','')">List Customers</a>
						</li> 
						<li>
							<a ng-click="addTab('Driver List','../repo/templates/driver_list.html','')">List Drivers</a>
						</li>
						<li>
							<a ng-click="addTab('Admin List','../repo/templates/admin_user.html','')">List Admin & Staff</a>
						</li>
						<!--<li>
							<a href="#/staff_list">Staff</a>
						</li> 
						<li>
							<a href="#/agent_list">Agents</a>
						</li>
						<li>
							<a href="#/partner_list" ng-hide="user_type == 'Customer'">Partners</a>
						</li>-->
					</ul>
				</li>				
				<li class="dropdown" ng-show="user_type =='Admin' || contact_type =='all' || contact_type =='billing'">  
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invoicing</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="addTab('Create Invoice','../repo/templates/create_invoice.html','')" ng-hide="user_type == 'Customer'">Create New Invoice</a>
						</li>
						<li>
							<a ng-click="addTab('Un-Paid Invoices','../repo/templates/unpaid_invoice.html','')">List Un-paid Invoices</a>
						</li>
						<li>
							<a ng-click="addTab('Paid Invoices','../repo/templates/paid_invoice.html','')">List Paid Invoices</a>
						</li>
						<li>
							<a ng-click="addTab('Collect/Credit card Invoices','../repo/templates/collect_cc_invoice.html','')">List Collect/Credit Card Invoices</a>
						</li>
						<li>
							<a ng-click="addTab('Un-Invoiced Jobs','../repo/templates/uninvoice_job.html','')">List Un-invoiced Jobs</a>
						</li>
						<li>
							<a ng-click="addTab('Invoiced Jobs','../repo/templates/invoiced_job.html','')">List Invoiced Jobs</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type=='Admin' || user_type=='Driver'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounting</a>
					<ul class="dropdown-menu">
						<li ng-controller="bookingListController">
							<a ng-click="addTab('Driver Accounts','../repo/templates/manage_accounting.html','')">List Drivers Accounts</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">
							<a ng-click="addTab('Operator Accounts','../repo/templates/manage_operator_accounting.html','')">List Operator Accounts</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">    
							<a ng-click="addTab('CASH IN','../repo/templates/accounting_cashin.html','')">CASH IN Entry</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">
							<a ng-click="addTab('CASH OUT','../repo/templates/accounting_cashout.html','')">CASH OUT Entry</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">
							<a ng-click="addTab('DEBIT ENTRY','../repo/templates/account_debit_entry.html','')">DEBIT Entry</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">
							<a ng-click="addTab('CREDIT ENTRY','../repo/templates/account_credit_entry.html','')">CREDIT Entry</a>
						</li>
						<li ng-controller="bookingListController" ng-hide="user_type=='Driver'">
							<a ng-click="addTab('Jobs - Driverwise','../repo/templates/list_jobs_driver_wise.html','')">List Jobs - Driverwise</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Customer' || user_type == 'Driver'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
					<ul class="dropdown-menu" ng-show="user_type == 'Customer'">
						<li>
							<a ng-click="addTab('Edit Profile','../repo/templates/edit_contact_profile.html','')">Manage Profile</a>
						</li>
					</ul>
					<ul class="dropdown-menu" ng-show="user_type == 'Driver'">
						<li>
							<a ng-click="addTab('Edit Profile','../repo/templates/edit_driver_profile.html','')">Manage Profile</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logs</a>
					<ul class="dropdown-menu">
						<li ng-controller="bookingListController">
							<a ng-click="addTab('Booking logs','../repo/templates/booking_log.html','')">Booking Logs</a>
						</li>
						<li ng-controller="bookingListController">
							<a ng-click="addTab('Booking driver logs','../repo/templates/driver_booking_log.html','')">Driver Logs</a>
						</li>
						<li ng-controller="bookingListController">
							<a ng-click="addTab('User logs','../repo/templates/user_log.html','')">User Log</a>
						</li>
						<li ng-controller="bookingListController">
							<a ng-click="addTab('Customer login logs','../repo/templates/customer_login_log.html','')">Customers Login Logs</a>
						</li>
						<li ng-controller="bookingListController">
							<a ng-click="addTab('Driver login logs','../repo/templates/driver_login_log.html','')">Drivers Login Logs</a>
						</li>
						<li ng-controller="bookingListController">
							<a ng-click="addTab('User login logs','../repo/templates/admin_login_log.html','')">Admin/Staff Login Logs</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="addTab('Business Settings','../repo/templates/business_setting.html','')">Business Settings</a>
						</li>
						<li>
							<a ng-click="addTab('Car List','../repo/templates/car_list.html','')">Mangage Cars</a>
						</li>
						<li>
							<a ng-click="addTab('Extra List','../repo/templates/extra_list.html','')">Manage Extras</a>
						</li>
						<li>
							<a ng-click="addTab('Point Of Interest','../repo/templates/point_of_interest.html','')">Manage Point Of Interest</a>
						</li>
						<li>
							<a ng-click="addTab('Templates','../repo/templates/css_templates.html','')">Manage Templates</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="addTab('Manual','../repo/templates/manual_tutorial.html','')">Manual</a>
						</li>
						<li>
							<a ng-click="addTab('Video Tutorials','../repo/templates/video_tutorial.html','')">Video Tutorials</a>
						</li>
						
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tech Support</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="addTab('A Suggestion','../repo/templates/suggestion.html','')">A Suggestion</a>
						</li>
						<li>
							<a ng-click="addTab('Report a Technical Issue','../repo/templates/report_bug.html','')">Report a Technical Issue</a>
						</li>
						<li>
							<a ng-click="addTab('Lodge a Complaint','../repo/templates/lodge_complaint.html','')">Lodge a Complaint</a>
						</li>
						<li>
							<a ng-click="addTab('Urgent Support','../repo/templates/urgent_support.html','')">Urgent Support</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-show="user_type == 'Admin'">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="addTab('Customer Wise Statistics','../repo/templates/customer_wise_statistics.html','')">Customer - Jobs</a>
						</li>
						<li>
							<a ng-click="addTab('Month Wise Statistics','../repo/templates/month_wise_statistics.html','')">Month wise - Jobs</a>
						</li>
						<li>
							<a ng-click="addTab('Job Type Wise Statistics','../repo/templates/job_type_wise_statistics.html','')">Job Type</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<span class="phoneNo" ng-if="bms_booking_phone_number != ''"><i class="fa fa-phone"></i> <strong>{{bms_booking_phone_number}}</strong>
	</div>
</nav>