<div class="col-lg-12" ng-controller="supportController" ng-cloak>
	<div class="row row-centered">
		<div class="col-lg-6 col-centered" style="margin-top:16px; min-height:750px;">
			<div class="panel panel-green margin-bottom-10">
				<!-- heading   -->
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-tasks"></i> Lodge Complaint
					</h3>
				</div><!--end of heading   -->		
				<div class="panel-body">
					<form role="form" ng-submit="addSupportData(supportForm.$valid)" name="supportForm" novalidate>
						<input type="hidden" ng-init="support.category='complaint'" ng-model="support.category"/>
						<div class="bms-form noBorder">
							<div class="row">
								<div class="col-md-12">
									<label for="name">Subject <span style="color:red;">*</span> :</label>
									<label class="select">
										<select name="subject" ng-model="support.subject" required class="form-control">
											<option value="">Select</option>
											<option value="booking_form">About booking form</option>
											<option value="accounting">About accounting</option>
											<option value="invoicing">About invoicing</option>
											<option value="others">Others</option>
										<select>
										<i></i>
									</label>
									<div class="error" ng-show="supportForm.subject.$touched || subject" ng-messages="supportForm.subject.$error"> 
										<p ng-message="required">Please select subject.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="name">Details<span style="color:red;">*</span> :</label>
									<label class="textarea">
										<textarea name="details" ng-model="support.details" required class="form-control" rows="10"></textarea>
									</label>
									<div class="error" ng-show="supportForm.details.$touched || details" ng-messages="supportForm.details.$error"> 
										<p ng-message="required">Please enter your suggestion.</p>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="modal-footer" style="padding-left:0; padding-right:0;">
								<button type="submit" class="btn btn-success btn" data-ng-hide="loading">
									<span>
										Add
									</span>
								</button>
								<button type="submit" ng-disabled="true" class="btn btn-success btn" data-ng-show="loading">
									<span>
										Add
										<i class="fa fa-cog fa-spin"></i>
									</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div><!-- end of main panel-->	
			<!-- below model will open the messages. -->
			<modal visible="success_error_message">
				<section id="contact-page">
					<div class="">
						<div class="alert alert-success" role="alert" ng-if="alert_message_success">
							<strong>Success!</strong>&nbsp;{{alert_message_success}}
						</div>
						<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
							<strong>Error!</strong>&nbsp;{{alert_message_error}}
						</div>
					</div>
				</section>
			</modal>
		</div><!-- end of main container -->
	</div>
	<div class="clearfix"></div>
</div>