<div class="row">
	<div class="col-lg-12" style="margin-top:16px; min-height:750px;" ng-controller="accountingController" ng-cloak>
	<div ng-show="drivers_account_loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<h3 class="panel-title" ng-show="table_view"><i class="fa fa-tasks"></i> ACCOUNT
				<!--<button type="button" ng-click="showAccountDetails();" class="btn btn-default btn-xs pull-right" ><i class="fa fa-eye"></i> 
					 SHOW ACCOUNT DETAILS
				</button>-->
				
			<!--	<button type="button" ng-click="cashInOuntEntry();" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus-square"></i> CASH IN/OUT ENTRY</button> -->
			</h3>
			<h3 class="panel-title" ng-hide="table_view">
				 <button class="btn btn-warning" type="button" ng-click="back_to_main_account_page();">
					<i class="fa fa-backward"></i>
				</button>
					Account details for {{driver_name}} 
				<div  class="btn btn-default btn-xs pull-right" >
					Account Balance {{currency_symbol}}&nbsp;{{accout_balance | number:2}}
				</div>
			</h3>
		</div>
		<!-- Search Box. -->
		<div class="panel-body text-center" ng-show="table_view">
			<div class="col-sm-4 col-sm-offset-4">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control"  ng-model="search" placeholder="Search">
						<span class="input-group-addon">
							<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
						</span> 
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" ng-hide="table_view">
			<!-- show driver account details -->
			<table  class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th ng-click="sortManageAccountTableBy('entry_id')">Entry ID&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='entry_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='entry_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-click="sortManageAccountTableBy('transaction_id')">Trx ID&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='transaction_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='transaction_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-click="sortManageAccountTableBy('created_on')">Date/Time&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='created_on'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='created_on'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-click="sortManageAccountTableBy('created_by_type')">Entry By&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='created_by_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='created_by_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-click="sortManageAccountTableBy('description')">Description of Transaction&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th align="right" ng-click="sortManageAccountTableBy('amount_debit')">Debits&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='amount_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='amount_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th align="right" ng-click="sortManageAccountTableBy('amount_credit')">Credits&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='amount_credit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='amount_credit'" ng-class="{'glyphicon-chevron-up':up,'glyphicon-chevron-down':!reverse}"></span></th>
					</tr>
					<tr>
						<td colspan="7"><div ng-show="!driver_perticular_account_balance.length" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div></td>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="account in driver_perticular_account_balance|orderBy:sortKey:reverse|filter:search|itemsPerPage:''">
						<tr><td colspan="7" ng-show="!driver_perticular_account_balance.length" style="align:center"><b>No Data Available.</b></td></tr>
						<tr ng-repeat="account in driver_perticular_account_balance|orderBy:sort_table:reverse|filter:search|itemsPerPage:''">
							<td>{{account.entry_id}}</td>
							<td style="cursor:pointer !important"><a ng-click="showTransactionDetailsOperatorAccountWise(account.transaction_id);" ><b>{{account.transaction_id}}</b></a></td>
							<td>{{account.created_on | date:'dd-MM-yyyy HH:mm'}}</td>
							<td>{{account.created_by_type}}</td>
							<td>{{account.description}}</td>
							<td ng-if="account.amount_debit!='0'" align="right">{{currecy_code}} {{account.amount_debit | number:2}}</td>
							<td ng-if="account.amount_debit=='0'">-</td>
							<td ng-if="account.amount_credit!='0'" align="right">{{currecy_code}} {{account.amount_credit | number:2}}</td>
							<td ng-if="account.amount_credit=='0'">-</td>
						</tr>
					</tr>
					<!-- show transaction details -->
					<tr ng-show="show_transaction_details_model">
						<td colspan="7" style="padding: 0px; border-width: 0px 0px 0px 1px; background:#72c22a;" >
							<div class="panel panel-red margin-bottom-40 redBlock"><span class="listingArrow"><img src="http://www.limokit.com/bms_clients/repo/images/listing-arrow.png" alt=""/></span>
								<div class="panel-heading">
								</div>
								<div class="table-responsive">
									<table  class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Entered By</th>
												<th>Entry ID</th>
												<th>Description</th>
												<th>Acc. Dr.</th>
												<th>Acc. Cr.</th>
												<th align="right">Amt Dr.</th>
												<th align="right">Amt. Cr.</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="accounts_details in transaction_details">
												<td>{{accounts_details.created_by_type}}</td>
												<td>{{accounts_details.entry_id}}</td>
												<td>{{accounts_details.description}}</td>
												<td width="9%">{{currecy_code}} {{accounts_details.account_debit}}</td>
												<td width="9%">{{currecy_code}} {{accounts_details.account_credit}}</td>
												<td align="right">{{currecy_code}} {{accounts_details.amount_debit | number:2}}</td>
												<td align="right">{{currecy_code}} {{accounts_details.amount_credit | number:2}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>Total</b></td>
						<td align="right"><b>{{currecy_code}} {{total_debit | number:2}}</b></td>
						<td align="right"><b>{{currecy_code}} {{total_credit | number:2}}</b></td>
					</tr>
				</tbody>
			</table><!-- end of main table-->
		</div><!-- end of main table div> -->
		<!-- for all account balance -->
		<div class="table-responsive" ng-show="table_view">
			<table  class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th ng-click="sortManageAccountTableBy('account_name')">Account Name&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='account_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='account_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th align="right" ng-click="sortManageAccountTableBy('total_debit')">Total Debits&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='total_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='total_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th align="right" ng-click="sortManageAccountTableBy('total_credit')">Total Credits&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='total_credit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='total_credit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th align="right" ng-click="sortManageAccountTableBy('total_credit-total_debit')">Account Balance&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='total_credit-total_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span><span class="glyphicon sort-icon" ng-hide="sortKey=='total_credit-total_debit'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					</tr>
				</thead>
				<tbody ng-hide="no_data_found">
					<tr>
						<td colspan="4"><div ng-show="adminLoader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 0;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div></td>
					</tr>
				</tbody>
				<tbody>
					<tr dir-paginate="accounts in operator_account_balance|orderBy:sortKey:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
						<tr><td colspan="4" ng-show="!operator_account_balance.length" style="align:center"><b>No Data Available.</b></td></tr>
						<tr ng-repeat="accounts in operator_account_balance|orderBy:sort_table:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
							<td ><a ng-click="showOperatorAccountListByAccountType(accounts.account_name,accounts.total_credit,accounts.total_debit,(accounts.total_credit-accounts.total_debit));" style="cursor:pointer !important">{{accounts.account_name}}</a></td>
							<td align="right">{{currecy_code}} {{accounts.total_debit | number:2}}</td>
							<td align="right">{{currecy_code}} {{accounts.total_credit | number:2}}</td>
							<td align="right">{{currecy_code}} {{accounts.total_credit-accounts.total_debit | number:2}}</td>
						</tr>
					</tr>
					<!--<tr><td colspan="4" ng-show="!driver_account_balance.length" style="align:center"><b>No Data Available.</b></td></tr> -->
				</tbody>
			</table><!-- end of main table-->
			
		</div><!-- end of main table div> -->
	</div><!-- end of main panel-->
	<div class="pull-left" ng-show="table_view">
		<div class="dataTables_length" id="dataTables-example_length">
			<div class="bms-form" style="border:0;">
				<label>Show</label>
				<label class="select">
					<select ng-model="selected_search_type_per_page" 
									ng-options="search.value as search.name for search in page_per_pagination" 
									ng-init="selected_search_type_per_page=selected_page_pagination">
						<option value="">Select no of rows</option>
					</select>
					<i></i>
				</label>
			</div>
		</div>
	</div>
	<ul class="pagination pull-right" ng-show="table_view">
		<dir-pagination-controls
								max-size="5"
								direction-links="true"
								boundary-links="true" >
		</dir-pagination-controls>
	</ul>
	<!-- Below model will open the form to show accounting listing. -->
	<!--<modal title="Select Account" visible="show_account_selection_panel">
		<form  ng-submit="Show_perticular_driver_account_listing(select_account_form.$valid,'1',select_account_type.driver_id,driver.title,driver.first_name,driver.last_name);" novalidate name="select_account_form">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<label for="pwd">Account Category <span style="color:red">*</span> :</label>
					<select class="form-control" ng-model="select_account_type.account_type" name="acc_type" required>
						<option value="" selected>---Please Select---</option>
						<option value="1">GROUP ACCOUNTS</option>
						<option value="2">MEMBER ACCOUNTS</option>
					</select>
					<div style="color:#F00" ng-show="select_account_form.acc_type.$touched || acc_type"  ng-messages="select_account_form.acc_type.$error">
						<p ng-message="required">Please select a account type.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-12" ng-if="select_account_type.account_type=='2'">
					<label for="pwd">Select Driver Accoutn <span style="color:red">*</span> :</label>
					<select class="form-control" ng-model="select_account_type.driver_id" name="driver_acc" required>
						<option value="" selected>---Please Select---</option>
						<option ng-repeat="driver in driver_list" value="{{driver._id}}">{{driver.title}} {{driver.first_name}} {{driver.last_name}}</option>
					</select>
					<div style="color:#F00" ng-show="select_account_form.driver_acc.$touched || driver_acc"  ng-messages="select_account_form.driver_acc.$error">
						<p ng-message="required">Please select a driver account.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-12" ng-if="select_account_type.account_type=='1'">
					<label for="pwd">Select Group Accoutn <span style="color:red">*</span> :</label>
					<select class="form-control" ng-model="select_account_type.group_account_type" name="group_account" required>
						<option value="" selected>---Please Select---</option>
						<option value="1">GROUP ACCOUNTS</option>
					</select>
					<div style="color:#F00" ng-show="select_account_form.group_account.$touched || group_account"  ng-messages="select_account_form.group_account.$error">
						<p ng-message="required">Please select a group account.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer" >
				  <button type="submit" class="btn btn-warning btn-xs">SHOW</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>
		</form>
	</modal>-->
	<!-- Below model will open the form to show account balance. -->
	<!--<modal title="Show Account Balance" visible="show_account_balance_panel">
		<form  ng-submit="showAccountBalance(new_account_entry_form.$valid);" novalidate name="new_account_balance_form">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<label for="pwd">Account Category <span style="color:red">*</span> :</label>
					<select class="form-control" ng-model="select_account_type.account_type" name="acc_type" required>
						<option value="" selected>---Please Select---</option>
						<option value="1">GROUP ACCOUNTS</option>
						<option value="2">MEMBER ACCOUNTS</option>
					</select>
					<div style="color:#F00" ng-show="new_account_balance_form.acc_type.$touched || acc_type"  ng-messages="new_account_balance_form.acc_type.$error">
						<p ng-message="required">Please select an account type.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer" >
				  <button type="submit" class="btn btn-warning btn-xs">SHOW</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>
		</form>
	</modal>-->
	<!-- Below model will open the form to add case entry.  -->
	<modal title="Cash Entry" visible="show_account_cash_entry_panel">
		<div class="bms-form noBorder">
			<form novalidate name="cash_entry_form">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Entry Type<span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="cash_in_out_model.entry_type" name="entryType" required>
								<option value="" selected disabled="disabled">---Please Select---</option>
								<option value="in">CASH IN</option>
								<option value="out">CASH OUT</option>
							</select>
							<i></i>
						</label>
						<div class="error" ng-show="cash_entry_form.entryType.$touched || entryType"  ng-messages="cash_entry_form.entryType.$error">
							<p ng-message="required">Please select a entry type.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12" ng-if="cash_in_out_model.entry_type=='in' || cash_in_out_model.entry_type=='out'">
						<label for="pwd" ng-if="cash_in_out_model.entry_type=='in'">Who is giving the Cash?<span style="color:red">*</span> :</label>
						<label for="pwd" ng-if="cash_in_out_model.entry_type=='out'">Who are you paying the Cash to?<span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="cash_in_out_model.account_type" name="accountType" required>
								<option value="" selected disabled="disabled">---Please Select---</option>
								<option value="1">GROUP ACCOUNTS</option>
								<option value="2">MEMBER ACCOUNTS</option>
							</select>
							<i></i>
						</label>
						<div class="error" ng-show="cash_entry_form.accountType.$touched || accountType"  ng-messages="cash_entry_form.accountType.$error">
							<p ng-message="required">Please select an account type.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12" ng-if="cash_in_out_model.account_type=='2'">
						<label for="pwd">Select Driver Account <span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="cash_in_out_model.driver_id" name="driverAccount" ng-change="show_driver_balance();"  required>
								<option value="" selected disabled="disabled">---Please Select---</option>
								<option ng-repeat="driver in driver_list" value="{{driver.driver_id}}">{{driver.title}} {{driver.first_name}} {{driver.last_name}}</option>
							</select>
							<i></i>
						</label>
						<div class="error" ng-show="cash_entry_form.driverAccount.$touched || driverAccount"  ng-messages="cash_entry_form.driverAccount.$error">
							<p ng-message="required">Please select a driver account.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Enter Amount<span style="color:red">*</span> :({{currecy_code_for_account}} {{accout_balance | number:2}})</label>
						<label class="input">
							<input type="number" name="enter_amount"  ng-model="cash_in_out_model.amount" required>
						</label>
						<div class="error" ng-show="cash_entry_form.enter_amount.$touched || enter_amount"  ng-messages="cash_entry_form.enter_amount.$error">
							<p ng-message="required">Please enter amount.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Enter Note :</label>
						<label class="textarea">
							<textarea placeholder="Notes" name="entry_note" rows="2" ng-model="cash_in_out_model.description" required></textarea>
						</label>
						<div class="error" ng-show="cash_entry_form.entry_note.$touched || entry_note"  ng-messages="cash_entry_form.entry_note.$error">
							<p ng-message="required">Please enter description.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="modal-footer" >
						  <button type="reset" class="btn btn-warning btn-xs" ng-click="addCashEntry(cash_entry_form.$valid,1);">
								 <span data-ng-hide="loading">
									Make Entry
								 </span>
								 <span data-ng-show="loading">
									Make Entry
									<i class="fa fa-cog fa-spin"></i>
								 </span>
						  </button>
						  <button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</modal>
	<!-- Below model will open the form to add debit or credit entry.  -->
	<modal title="Debit Or Credit  Entry" visible="show_account_debit_or_credit_entry_panel">
	<div class="bms-form noBorder">
		<form role="form" name="debit_credit_entry_form" ng-submit="addDebitCreditEntry(debit_credit_entry_form.$valid,debit_credit_entry_form);" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<label for="pwd">Entry Type<span style="color:red">*</span> :</label>
					<label class="select">
						<select ng-model="debit_or_credit_model.entry_type" name="entryType" required>
							<option value="" selected disabled="disabled">---Please Select---</option>
							<option value="debit">DEBIT</option>
							<option value="credit">CREDIT</option>
						</select>
						<i></i>
					</label>
					<div class="error" ng-show="entryType || debit_credit_entry_form.entryType.$touched"  ng-messages="debit_credit_entry_form.entryType.$error">
						<p ng-message="required">Please select a entry type.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-12" ng-if="debit_or_credit_model.entry_type=='debit' || debit_or_credit_model.entry_type=='credit'">
					<label for="pwd" ng-if="debit_or_credit_model.entry_type=='debit'">Which Member do you want to Debit?<span style="color:red">*</span> :</label>
					<label for="pwd" ng-if="debit_or_credit_model.entry_type=='credit'">Which Members do you want to give Credit To?<span style="color:red">*</span> :</label>
					<label class="select">
						<select ng-model="debit_or_credit_model.account_type" name="accountType" required>
							<option value="" selected>---Please Select---</option>
							<option value="1">GROUP ACCOUNTS</option>
							<option value="2">MEMBER ACCOUNTS</option>
						</select>
						<i></i>
					</label>
					<div class="error" ng-show="debit_credit_entry_form.accountType.$touched || accountType"  ng-messages="debit_credit_entry_form.accountType.$error">
						<p ng-message="required">Please select an account type.</p>
					</div>
					
				</div>
				<div class="col-xs-12 col-md-12" ng-if="debit_or_credit_model.account_type=='2'">
					<label for="pwd">Select Driver Accoutn <span style="color:red">*</span> :</label>
					<label class="select">
						<select ng-model="debit_or_credit_model.driver_account_type" name="driverAccount" required>
							<option value="" disabled="disabled">---Please Select---</option>
							<option ng-repeat="driver in driver_list" value="{{driver.driver_id}}">{{driver.title}} {{driver.first_name}} {{driver.last_name}}</option>
						</select>
					</label>
					<div class="error" ng-show="debit_credit_entry_form.driverAccount.$touched || driverAccount"  ng-messages="debit_credit_entry_form.driverAccount.$error">
						<p ng-message="required">Please select a driver account.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<label for="pwd">Enter Amount<span style="color:red">*</span> :</label>
					<label class="input">
						<input type="number" name="enter_amount"  ng-model="debit_or_credit_model.amount" required>
					</label>
					<div class="error" ng-show="debit_credit_entry_form.enter_amount.$touched || enter_amount"  ng-messages="debit_credit_entry_form.enter_amount.$error">
						<p ng-message="required">Please enter amount.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<label for="pwd">Enter Note :</label>
					<label class="textarea">
						<textarea placeholder="Notes" name="entry_note" rows="2" ng-model="cash_entry_form.notes"></textarea>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="modal-footer">
					  <button type="submit" class="btn btn-warning btn-xs">Make Entry</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
				</div>
			</div>
			{{debit_credit_entry_form.$pristine}}
		</form>
	</div>	
	</modal>
	<!-- below model will open the messages. -->
	<modal visible="success_error_message">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert" ng-if="alert_message_success">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
				<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
	</modal>
	<modal title="Update Details" visible="show_update_message_model">
		<div class="alert alert-success" ng-repeat="successmsg in success">
			<strong><span class="glyphicon glyphicon-ok"></span>{{successmsg}}</strong>
		</div>
		<div class="alert alert-danger" ng-repeat="error in errors">
			  <strong>{{error}}</strong>
		</div>
	</modal>
	
	
	<!-- this model will allow to show transaction details -->
	<modal title="Transaction Details" visible="preview_for_transaction_details">
		<form role="preview" novalidate>
				<div class="col-md">
					
					<div>
						Transaction details of  transaction number : {{show_transaction_id}}
					</div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th >Entered By</th>
									<th>Entry ID</th>
									<th>Description</th>
									<th>Acc. Dr.</th>
									<th>Acc. Cr.</th>
									<th class="text-right" width="10%">Amt Dr.</th>
									<th class="text-right" width="10%">Amt. Cr.</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="accounts_details in transaction_details">
									<td>{{accounts_details.created_by_type}}</td>
									<td>{{accounts_details.entry_id}}</td>
									<td>{{accounts_details.description}}</td>
									<td>{{accounts_details.account_debit}}</td>
									<td>{{accounts_details.account_credit}}</td>
									<td align="right">{{currecy_code}} {{accounts_details.amount_debit | number:2}}</td>
									<td align="right" >{{currecy_code}} {{accounts_details.amount_credit | number:2}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				
				</div>				
		</form>
	</modal>
</div><!-- end of main container -->
</div>
<div class="clearfix"></div>
 
