<div ng-include src="'../repo/templates/header.html'" ng-cloak></div>
<div class="col-lg-12" style="margin-top:16px;" ng-cloak>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-tasks"></i> Partner
				<button type="button" ng-click="openAddAdminUser()" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus-square"></i> Add</button>
			</h3>
		</div>
		<!-- Search Box. -->
		<div class="panel-body text-center">
			<div class="col-sm-4 col-sm-offset-4">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control"  ng-model="search" placeholder="Search" >
						<span class="input-group-addon">
							<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
						</span> 
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table  class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th style="width:7%">Role</th>
						<th>Title</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Password</th>
						<th>Status</th>
						<th class="width-200">Action</th>
					</tr>
				</thead>
				<tbody ng-hide="adminRes">
					<tr>
						<td colspan="9"><div ng-show="adminLoader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div></td>
					</tr>
				</tbody>
				<tbody ng-show="adminRes">
					<tr dir-paginate="user in admin_user_listing_data|filter:search|itemsPerPage:selected_search_type_per_page">
						<tr><td colspan="9" ng-show="!admin_user_listing_data.length" style="align:center"><b>No Data Available.</td></td></tr>
						<tr ng-repeat-start="user in admin_user_listing_data|filter:search|itemsPerPage:selected_search_type_per_page">
							<td>
								<button  class="btn btn-info btn-xs" ng-click="showPhoneDetails = ! showPhoneDetails; showAddressDetails = false;" >
									<i class="fa fa-phone"></i>
								</button>
							</td>
							<td>{{::user.role | uppercase}}</td>
							<td>{{::user.title}}</td>
							<td>{{::user.first_name}}</td>
							<td>{{::user.last_name}}</td>
							<td>{{::user.email}}</td>
							<td>{{::user.password}}</td>
							<td><span ng-if="user.status == 'active'">ACTIVE</span><span ng-if="user.status == 'in_active'">INACTIVE</span></td>
							<td ng-init="customer_array_index =$index" class="width-200">
								<!-- button to edit -->
								<button type="button" class="btn btn-warning btn-xs" ng-click="openEditAdminUserDetail(user);"><i class="fa fa-pencil"></i>Edit</button>
							</td>
						</tr>
					</tr>
					<tr ng-repeat-end>
						<td colspan="10" ng-show="showPhoneDetails" style="padding:0; border:0; border-left:1px solid #008338; background:#72C02C;">
							<div class="panel panel-green margin-bottom-30 greenBlock" style="border-right:0;">
								<span class="listingArrow"><img src="http://www.limokit.com/bms_clients/repo/images/listing-arrow.png" alt=""/></span>
								<div class="panel-heading">
									<h3 class="panel-title"><i class="fa fa-home"></i> Phone Details
									<!-- the below button will add new contact details of customer -->
									<button class="btn btn-default btn-xs pull-right" ng-click="openAddAdminUserPhone(user._id);"><i class="fa fa-plus-square"></i>Add</button>
									</h3>
								</div>									
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Number Type</th>
												<th>Calling Code</th>
												<th>Number</th>
												<th class="width-200">Action</th>
											</tr>
										</thead>
										<tbody>
										<!-- showing all the contact details of user -->
										<tr><td colspan="4" ng-show="!user.phone.length" style="align:center"><b>No Data Available.</td></td></tr>
											<tr ng-repeat="user_phone in user.phone">
												
												<td>{{::user_phone.type | uppercase}}</td>
												<td>+{{::user_phone.calling_code}}</td>
												<td>{{::user_phone.number}}</td>
												<td> <!-- button to edit -->
													<button type="button" class="btn btn-warning btn-xs" ng-click="openEditAdminUserPhoneDetail(user_phone);"><i class="fa fa-pencil"></i> Edit</button>
													&nbsp;
													<!-- button to delete -->
													<button class="btn btn-danger btn-xs" ng-click="deleteAdminPhone(user._id, user_phone._id);" ng-confirm-click="Are you sure you want to delete?"><i class="fa fa-trash-o"></i> Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					<!-- </tr> -->
					</tr>
				</tbody>
			</table><!-- end of main table-->
		</div><!-- end of main table div> -->
	</div><!-- end of main panel-->
	<div class="pull-left">
		<div class="dataTables_length" id="dataTables-example_length">
			<div class="bms-form" style="border:0;">
				<label>Show</label>
				<label class="select">
					<select ng-model="selected_search_type_per_page" 
							ng-options="search.value as search.name for search in page_per_pagination" 
							ng-init="selected_search_type_per_page=selected_page_pagination">
							<option value="">Select no of rows</option>
					</select>
					<i></i>
				</label>
			</div>
		</div>
	</div>
	<ul class="pagination pull-right">
		<dir-pagination-controls
								max-size="5"
								direction-links="true"
								boundary-links="true" >
		</dir-pagination-controls>
	</ul>
	<!-- Below model will open the form to edit the admin user details. -->
	<modal title="Edit Partner" visible="edit_admin_user_modal">
		<div class="bms-form noBorder">
			<form role="form" ng-submit="editAdminUserDetail(editAdminForm.$valid);" novalidate name="editAdminForm">
				<div class="row">
					<input type="hidden" ng-model="edit_admin_user_details.id" >
					<div class="col-xs-12 col-md-3">
						<label for="pwd">Title <span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="edit_admin_user_details.title" name="title" required><option value="" selected>Title</option><option value="Mr.">Mr.</option><option value="Mrs.">Mrs.</option><option value="Miss.">Miss.</option></select>
							<i></i>
						</label>
						<div class="error" ng-show="editAdminForm.title.$touched || title"  ng-messages="editAdminForm.title.$error">
							<p ng-message="required">Please select a title.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-5">
						<label for="pwd">First name <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="text" ng-model="edit_admin_user_details.first_name" name="first_name" required>
						</label>
						<div class="error" ng-show="editAdminForm.first_name.$touched || first_name"  ng-messages="editAdminForm.first_name.$error">
							<p ng-message="required">Please enter your first name.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<label for="pwd">Last name <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="text" ng-model="edit_admin_user_details.last_name" name="last_name" required>
						</label>
						<div class="error" ng-show="editAdminForm.last_name.$touched || last_name"  ng-messages="editAdminForm.last_name.$error">
							<p ng-message="required">Please enter your last name.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Email <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="email" ng-model="edit_admin_user_details.email" name="email" required>
						</label>
						<div class="error" ng-show="editAdminForm.email.$touched || email"  ng-messages="editAdminForm.email.$error">
							<p ng-message="required">Please enter your email.</p>
							<p ng-message="email">Please enter a valid email.</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<label for="pwd">Status <span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="edit_admin_user_details.status" name="status" required><option value="" selected>Status</option><option value="active">Active</option><option value="in_active">In-active</option></select>
							<i></i>
						</label>
						<div class="error" ng-show="editAdminForm.status.$touched || status"  ng-messages="editAdminForm.status.$error">
							<p ng-message="required">Please select status.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="modal-footer" >
						  <button type="submit" class="btn btn-warning btn-xs">EDIT</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</modal>
	<!-- Below model will open the form to edit the admin user phone details. -->
	<modal title="Edit Phone" visible="edit_admin_user_phone_edit_modal">
		<div class="bms-form noBorder">
			<form role="form" ng-submit="editAdminUserPhoneDetail(editPhoneForm.$valid);" name="editPhoneForm" novalidate>
				<div class="row">
					<input type="hidden" ng-model="edit_admin_user_details.id" >
					<div class="col-xs-12 col-md-3">
						<label for="pwd">Phone Type:</label>
						<label class="select">
							<select ng-model="edit_admin_user_phone_details.type" name="type" required><option value="" selected>Type</option><option value="office">Office</option><option value="home">Home</option><option value="others">Others</option></select>
							<i></i>
						</label>
						<div class="error" ng-show="editPhoneForm.type.$touched || type"  ng-messages="editPhoneForm.type.$error">
							<p ng-message="required">Please select a type.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-5">
						<label for="pwd">Calling Code:</label>
						<label class="select">
							<select ng-model="edit_admin_user_phone_details.calling_code" name="calling_code" required>
								<option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}">{{country_data.name}}(+{{country_data.calling_code}}) </option>
							</select>
							<i></i>
						</label>
						<div class="error" ng-show="editPhoneForm.calling_code.$touched || calling_code"  ng-messages="editPhoneForm.calling_code.$error">
							<p ng-message="required">Please select your calling code.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<label for="pwd">Phone Number:</label>
						<label class="input">
							<input type="text" ng-model="edit_admin_user_phone_details.number" ng-maxlength="10" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" name="number" required>
						</label>
						<div class="error" ng-show="editPhoneForm.number.$touched || number"  ng-messages="editPhoneForm.number.$error">
							<p ng-message="required">Please enter phone number.</p>
							<p ng-message="pattern">Enter a valid 10 digit phone number</p>
							<p ng-message="maxlength">Enter a valid 10 digit phone number</p>						</div>
					</div>
					<div class="clearfix"></div>
					<div class="modal-footer" >
						<button type="submit" class="btn btn-warning btn-xs">EDIT</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</modal>
	<!-- Below model will open the form to add the admin user. -->
	<modal title="Add New Partner" visible="add_admin_user_modal">
		<div class="bms-form noBorder">
			<form role="form" ng-submit="addAdminUser(addAdminForm.$valid);" novalidate name="addAdminForm">
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<label for="pwd">Title <span style="color:red">*</span> :</label>
						<label class="select">
							<select ng-model="add_admin.title" name="title" required><option value="" selected>Title</option><option value="Mr.">Mr.</option><option value="Mrs.">Mrs.</option><option value="Miss.">Miss.</option></select>
							<i></i>
						</label>
						<div class="error" ng-show="addAdminForm.title.$touched || title"  ng-messages="addAdminForm.title.$error">
							<p ng-message="required">Please select a title.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-5">
						<label for="pwd">First name <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="text" ng-model="add_admin.first_name" name="first_name" required>
						</label>
						<div class="error" ng-show="addAdminForm.first_name.$touched || first_name"  ng-messages="addAdminForm.first_name.$error">
							<p ng-message="required">Please enter your first name.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<label for="pwd">Last name <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="text" ng-model="add_admin.last_name" name="last_name" required>
						</label>
						<div class="error" ng-show="addAdminForm.last_name.$touched || last_name"  ng-messages="addAdminForm.last_name.$error">
							<p ng-message="required">Please enter your last name.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Email <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="email" ng-model="add_admin.email" name="email" required>
						</label>
						<div class="error" ng-show="addAdminForm.email.$touched || email"  ng-messages="addAdminForm.email.$error">
							<p ng-message="required">Please enter your email.</p>
							<p ng-message="email">Please enter a valid email.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<label for="pwd">Password <span style="color:red">*</span> :</label>
						<label class="input">
							<input type="password" ng-model="add_admin.password" ng-minlength="6" name="password" required>
						</label>
						<div class="error" ng-show="addAdminForm.password.$touched || password"  ng-messages="addAdminForm.password.$error">
							<p ng-message="required">Please enter your pasword.</p>
							<p ng-message="minlength">Password must be atleast 6 characters.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="modal-footer" >
						  <button type="submit" class="btn btn-warning btn-xs">ADD</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
					</div>					
				</div>
			</form>
		</div>
	</modal>
	<!-- Below model will open the form to add the admin user phone details. -->
	<modal title="Add Phone" visible="add_admin_user_phone_modal">
	<div class="bms-form noBorder">
		<form role="form" ng-submit="addAdminUserPhone(addAdminPhoneForm.$valid);" name="addAdminPhoneForm" novalidate>
			<div class="row">
				<input type="hidden" ng-model="add_admin_phone.id">
				<div class="col-xs-12 col-md-3">
					<label for="pwd">Phone Type <span style="color:red">*</span> :</label>
					<label class="select">
						<select ng-model="add_admin_phone.type" name="type" required><option value="" selected>Type</option><option value="office">Office</option><option value="home">Home</option><option value="others">Others</option></select>
						<i></i>
					</label>
					<div class="error" ng-show="addAdminPhoneForm.type.$touched || type"  ng-messages="addAdminPhoneForm.type.$error">
						<p ng-message="required">Please select a type.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-5">
					<label for="pwd">Calling Code <span style="color:red">*</span> :</label>
					<label class="select">
						<select ng-model="add_admin_phone.calling_code" name="calling_code" required>
							<option value="">Calling Code</option><option ng-repeat="country_data in country_data | orderBy:'name'" value="{{country_data.calling_code}}" >{{country_data.name}}(+{{country_data.calling_code}}) </option>
						</select>
						<i></i>
					</label>
					<div class="error" ng-show="addAdminPhoneForm.calling_code.$touched || calling_code"  ng-messages="addAdminPhoneForm.calling_code.$error">
						<p ng-message="required">Please select your calling code.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<label for="pwd">Phone Number <span style="color:red">*</span> :</label>
					<label class="input">
						<input type="text" ng-model="add_admin_phone.number" ng-maxlength="10" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" name="number" required>
					</label>
					<div class="error" ng-show="addAdminPhoneForm.number.$touched || number"  ng-messages="addAdminPhoneForm.number.$error">
						<p ng-message="required">Please enter phone number.</p>
						<p ng-message="pattern">Enter a valid 10 digit phone number</p>
						<p ng-message="maxlength">Enter a valid 10 digit phone number</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer" >
					  <button type="submit" class="btn btn-warning btn-xs">ADD</button><button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
				</div>
			</div>
		</form>
	</div>
	</modal>
	<!-- below model will open the messages. -->
	<modal visible="success_error_message">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert" ng-if="alert_message_success">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
				<div class="alert alert-danger" role="alert" ng-if="alert_message_error">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
	</modal>
</div><!-- end of main container -->