
	<section id="contact-page" ng-cloak>
		<div class="container">
			<div class="row row-centered">
				<div class="col-md-6 col-centered login" style="margin-top:5%;">
					<div class="panel with-nav-tabs panel-default">
						<div class="panel-heading">
							
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div id="tab1default" class="tab-pane fade in active">
									<form class="reg-page" ng-submit="reset_password_using_reset_code()"  name="reset_password"  ng-model-options="{updateOn: 'blur' }" novalidate>
										<div class="reg-header">
											<h2>Reset Password using reset code</h2>
										</div>
										<p class="text-warning">{{error_message}}</p>
										
										<div class="input-group margin-bottom-20">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="number" class="form-control" placeholder="reset code"  id = "reset_code" name="reset_code" ng-model="admin_reset_password_using_reset_code.reset_code" required>
											 <div class="errormsg" ng-show="reset_password.reset_code.$dirty && reset_password.reset_code.$invalid" > Please enter a valid reset code.</div>
											
										</div>
										<div class="input-group margin-bottom-20">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input type="password" class="form-control" placeholder="Password" name="reset_password" ng-model="admin_reset_password_using_reset_code.password" ng-minlength="6" required >
											 <div class="errormsg"  ng-show="reset_password.reset_password.$dirty && reset_password.reset_password.$invalid">
													Please enter password of minimum 6 character
											</div>
										</div>
										<div class="input-group margin-bottom-20">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input type="password" class="form-control" placeholder="confirm password"  name="confirm_password"  ng-model="admin_reset_password_using_reset_code.confirm_password" ng-minlength="6" required>
											 <div class="errormsg"  ng-show="reset_password.confirm_password.$dirty && reset_password.confirm_password.$invalid">
												Please enter password of minimum 6 character
											</div>
										</div>
										<div class="row">
											
											<div class="col-md-6">
												<button type="submit" class="btn btn-info pull-right">Reset</button>
											</div>
										</div>
										
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="js/wow.min.js"></script> 
</body>
</html>