<div ng-controller="uninvoice_job" ng-cloak>
<div class="row">
	<div class="col-lg-12" style="margin-top:16px; min-height:750px;">
		<div class="panel panel-green margin-bottom-10">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-tasks"></i> UnInvoiced job details
					<span  class="pull-right">Amount : {{business_setting_details.currency.symbol}} &nbsp;{{total_uninvoice_job_amount | number:2 }} </span>
					<i class="fa fa-file-pdf-o fa-2x pull-right" style="cursor: pointer; font-size: 26px; line-height: 11px;" ng-click="openGenerateUnInvoicedJobPDFData()" style="cursor:pointer;" tooltips tooltip-side="right" tooltip-template="Export un-invoiced job data to PDF format."></i>&nbsp;&nbsp;
					<i class="fa fa-file-excel-o fa-2x pull-right" style="cursor: pointer; font-size: 26px; line-height: 11px;" ng-click="generateUnInvoicedJobCSVData()" style="cursor:pointer;" tooltips tooltip-side="right" tooltip-template="Export un-invoiced job data to CSV format."></i>&nbsp;&nbsp;
				</h3>
			</div>
			<!-- Search Box. -->
			<div class="panel-body text-center">
				<div class="col-sm-4 col-sm-offset-4">
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"  ng-model="search" placeholder="Search">
							<span class="input-group-addon">
								<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
							</span> 
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table  class="table table-striped table-bordered table-hover">     
					<thead>
						<tr>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.job_id')">
								Job ID
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.job_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.job_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('customer_id.name')">
								Customer Name&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='customer_id.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  
								<span class="glyphicon sort-icon" ng-hide="sortKey=='customer_id.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.job_status')">
								Status&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.job_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.job_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.job_date')">
								Date & Time&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.job_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.job_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th>
								Extra&nbsp;
								<!--<span class="glyphicon sort-icon" ng-show="sortKey=='customer_id.type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='customer_id.type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.pax_first_name')">
								Pax Details&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.pax_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.pax_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							
							<th ng-click="sortUnInvoiceJobTableBy('jobs.from_address.label')">
								From&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.from_address.label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.from_address.label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							
							<th ng-click="sortUnInvoiceJobTableBy('jobs.to_address.label')">
								To&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.to_address.label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.to_address.label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							
							<th ng-click="sortUnInvoiceJobTableBy('jobs.payment_status')">
								Payment&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.payment_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.payment_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.fare[0].total_fare')">
								Fare&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.fare[0].total_fare'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.fare[0].total_fare'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sortUnInvoiceJobTableBy('jobs.driver[0].driver_id.first_name')">
								Driver&nbsp;
								<span class="glyphicon sort-icon" ng-show="sortKey=='jobs.driver[0].driver_id.first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								<span class="glyphicon sort-icon" ng-hide="sortKey=='jobs.driver[0].driver_id.first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
						</tr>
					</thead>
					<tbody ng-hide="show_unpaid_invoice_details">   
						<tr>
							<td colspan="12"><div ng-show="loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;"></div></td>
						</tr>
					</tbody>
					<tbody ><!--orderBy:'-invoice_id'-->
						<tr dir-paginate="unvoice_job in unvoiced_job_details|orderBy:sortKey:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
							<tr><td colspan="12" ng-show="!unvoiced_job_details.length" style="align:center"><b>No Data Available.</b></td></tr>
							<tr ng-repeat="unvoice_job in unvoiced_job_details|orderBy:sort_table:reverse|filter:search|itemsPerPage:selected_search_type_per_page">
								<td>{{unvoice_job.jobs.job_id}}</td>
								<td>{{unvoice_job.customer_id.name}}</td>
								<td>{{unvoice_job.jobs.job_status}}</td>
								<td>{{unvoice_job.jobs.job_date | date : "dd-MM-yyyy"}}&nbsp; {{unvoice_job.jobs.pickup_date_time.pickup_time}}</td>
								<td>
									<span ng-repeat="extra in unvoice_job.jobs.extras">{{extra.extra_type_id.name}} : {{extra.extra_nos}}</br></span>
								</td>
								<td>{{unvoice_job.jobs.pax_first_name}} &nbsp; {{unvoice_job.jobs.pax_last_name}}</td>
								
								<td>{{unvoice_job.jobs.from_address.label}} &nbsp; {{unvoice_job.jobs.from_address.line_1}}&nbsp;{{unvoice_job.jobs.from_address.line_2}}&nbsp;
									{{unvoice_job.jobs.from_address.suburb_district}}&nbsp;{{unvoice_job.jobs.from_address.post_code}}&nbsp;
									{{unvoice_job.jobs.from_address.state}}&nbsp;{{unvoice_job.jobs.from_address.country}}
								</td>
								<td>{{unvoice_job.jobs.to_address.label}} &nbsp; {{unvoice_job.jobs.to_address.line_1}}&nbsp;{{unvoice_job.jobs.to_address.line_2}}&nbsp;
									{{unvoice_job.jobs.to_address.suburb_district}}&nbsp;{{unvoice_job.jobs.to_address.post_code}}&nbsp;
									{{unvoice_job.jobs.to_address.state}}&nbsp;{{unvoice_job.jobs.to_address.country}}
								</td>
								<td>{{unvoice_job.jobs.payment_status}}</td>
								<td style="align=right">{{business_setting_details.currency.symbol}}{{unvoice_job.jobs.fare[0].total_fare | number:2}}</td>
								<td>{{unvoice_job.jobs.driver[0].driver_id.title}}&nbsp;{{unvoice_job.jobs.driver[0].driver_id.first_name}}&nbsp;{{unvoice_job.jobs.driver[0].driver_id.last_name}}</td>
							
							</tr>
						</tr>
					</tbody>
				</table><!-- end of main table-->
			</div><!-- end of main table div> -->
		</div><!-- end of main panel-->
	<div class="pull-left">
		<div class="dataTables_length" id="dataTables-example_length">
			<div class="bms-form" style="border:0;">
				<label>Show</label>
				<label class="select">
					<select ng-model="selected_search_type_per_page" 
									ng-options="search.value as search.name for search in page_per_pagination" 
									ng-init="selected_search_type_per_page=selected_page_pagination">
									<option value="">Select no of rows</option>
					</select>
					<i></i>
				</label>
			</div>
		</div>
	</div>
	<ul class="pagination pull-right">
		<dir-pagination-controls
								max-size="5"
								direction-links="true"
								boundary-links="true" >
		</dir-pagination-controls>
	</ul>
</div>
<div class="clearfix"></div>
	<!-- Below modal show the data generated for pdf. -->
	<modal title="Un Invoiced Job Data" visible="un_invoiced_job_pdf_modal">
		<div class="panel-heading">
			<h3>
				<button type="button" onclick="javascript:generatesUnInvoicedJobPDF()" class="btn btn-default btn-xs pull-right" id="create_pdf"><i class="fa fa-file-pdf-o"></i>Generate PDF</button>
			</h3>
		</div>
		<div class="panel-body text-center">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" id="uninvoicedjoblist">
					<thead>
						<tr>
							<th>Job</th>
							<th>Customer/Pax</th>
							<th>Payment</th>
							<th>Driver</th>
							<th>From/To</th>
							<th>Extras</th>
						</tr>
					</thead>
					<tbody>
<!-- IMPORTANT : Donot indent, indentation will lead to broken row structure in the generated PDF. -->
						<tr ng-repeat="unvoiced_job in unvoiced_job_details | orderBy:sort_table:reverse | filter:search">
							<td>
{{unvoiced_job.jobs.job_id}}
</br>
{{unvoiced_job.jobs.job_status | uppercase}}
</br>
{{unvoiced_job.jobs.job_date | date : "dd-MM-yyyy"}}&nbsp; {{unvoiced_job.jobs.pickup_date_time.pickup_time}}
</br>
{{business_setting_details.currency.symbol}}{{unvoiced_job.jobs.fare[0].total_fare | number:2}}
							</td>
							<td>
{{unvoiced_job.customer_id.name}}
</br>
{{unvoiced_job.jobs.pax_first_name}} &nbsp; {{unvoiced_job.jobs.pax_last_name}}
							</td>
							<td>
{{unvoiced_job.jobs.payment_status}}
							</td>
							<td>
{{unvoiced_job.jobs.driver[0].driver_id.title}}&nbsp;{{unvoiced_job.jobs.driver[0].driver_id.first_name}}&nbsp;{{unvoiced_job.jobs.driver[0].driver_id.last_name}}
							</td>
							<td>
{{unvoiced_job.jobs.from_address.label}} &nbsp; {{unvoiced_job.jobs.from_address.line_1}}&nbsp;{{unvoiced_job.jobs.from_address.line_2}}&nbsp;{{unvoiced_job.jobs.from_address.suburb_district}}&nbsp;{{unvoiced_job.jobs.from_address.post_code}}&nbsp;{{unvoiced_job.jobs.from_address.state}}&nbsp;{{unvoiced_job.jobs.from_address.country}}
</br>
{{unvoiced_job.jobs.to_address.label}} &nbsp; {{unvoiced_job.jobs.to_address.line_1}}&nbsp;{{unvoiced_job.jobs.to_address.line_2}}&nbsp;{{unvoiced_job.jobs.to_address.suburb_district}}&nbsp;{{unvoiced_job.jobs.to_address.post_code}}&nbsp;{{unvoiced_job.jobs.to_address.state}}&nbsp;{{unvoiced_job.jobs.to_address.country}}
							</td>
							<td>
<span ng-repeat="extra in unvoiced_job.jobs.extras">{{extra.extra_type_id.name}} : {{extra.extra_nos}},&nbsp;</span>
							</td>
						</tr>
<!-- END PDF ROW. -->
					</tbody>
				</table>
			</div>
		</div>
	</modal>
	<modal title="Invoice Details" visible="preview_unpaid_invoice_and_send_mail"  class="customModal">
		<form role="preview" ng-submit="reSendInvoiceToCustomer();" novalidate >
			<div class="row">
				<div class="col-lg-12">
					<div style=' width: 100%; margin: 0 auto;'>
						<div style='height: 35px; width: 100%;margin: 20px 0;background: #eee;text-align: center; font: bold 15px Helvetica,ans-Serif;text-decoration: uppercase; letter-spacing: 20px;padding: 8px 0px;'>TAX INVOICE</div>
						<div>
							<div style='width: 250px; height: 220px; float: left;'>
									<img ng-src="{{business_setting_details.bms_logo[0].image_path}}" alt="logo" style='height:90px'/>
									</br>
							<strong>{{business_setting_details.business_name}}</strong></br>
									{{business_setting_details.bms_slogan}}</br>
									{{business_setting_details.address[0].line_1}}&nbsp;{{business_setting_details.address[0].line_2}}&nbsp;{{business_setting_details.address[0].suburb_district}}</br>
									{{business_setting_details.address[0].city}}&nbsp;{{business_setting_details.address[0].country}}</br>
									Email: {{business_setting_details.bms_email.billing_email[0].email}}
							</div>
							<div style='text-align: right; float: right; position: relative; margin-top: 25px;border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; '>

								<table style='margin-top: 1px; width: 300px; float: right; '>
									<tr>
										<td style='text-align: right; width:50%'>Invoice Number#</td>
										<td style='text-align: right; height: 20px;'> {{unpaid_invoice_details.invoice_id}}</td>
									</tr>
									<tr>
										<td style='text-align: right; '>Invoice Date</td>
										<td  style='text-align: right; height: 20px;'>{{unpaid_invoice_details.created_on | date:'dd-MM-yyyy'}}</td>
									</tr>
									<tr>
										<td style='text-align: right;'>Invoice Amount</td>
										<td  style='text-align: right; height: 20px;'>{{business_setting_details.currency.symbol}} {{unpaid_invoice_details.invoice_amount | number:2 }}</td>
									</tr>
								</table>
							</div>
						</div>
						<div style='clear:both'></div>
						<div>
							<div></br><strong>INVOICE TO  </strong></br>
								{{unpaid_invoice_details.customer_id.name}}</br>
								
							</div>
						</div>
						<div class="table-responsive">
							<table   class="table table-striped invoice-table">
							<thead>
								<tr>
									<th>&nbsp;Job Number</th>
									<th>Date</th>
									<th>Pax Name</th>
									<th>From Address</th>
									<th>To Address</th>
									<th style='text-align:right;'>Base Fare</th>
									<th style='text-align:right;'>Extra</th>
									<th style='text-align:right;'>Total</th>
								</tr>
							</thead>
							<tr ng-repeat="invoice in unpaid_invoice_details.jobs">
								<td>
									&nbsp;{{invoice.booking_id.jobs[0].job_id}}
								</td>
								<td >
									{{invoice.booking_id.jobs[0].pickup_date_time.pickup_time}}</br>{{invoice.booking_id.jobs[0].pickup_date_time.pickup_date| date:'dd-MM-yyyy'}}
								</td>
								<td>
									{{invoice.booking_id.jobs[0].pax_title}}&nbsp;{{invoice.booking_id.jobs[0].pax_first_name}}&nbsp;{{invoice.booking_id.pax_last_name}}
								</td>
								<td>
									{{invoice.booking_id.jobs[0].from_address.line_1}} &nbsp;{{invoice.booking_id.jobs[0].from_address.line_2}}
								</td>
								<td>
									{{invoice.booking_id.jobs[0].to_address.line_1}} &nbsp;{{invoice.booking_id.jobs[0].to_address.line_2}}
								</td>
								<td style='text-align:right;'> 
									{{business_setting_details.currency.symbol}}&nbsp;{{invoice.booking_id.jobs[0].fare[0].base_price | number:2 }}
								</td>
								<td style='text-align:right;'>
									{{business_setting_details.currency.symbol}}&nbsp;{{invoice.booking_id.jobs[0].fare[0].total_fare-invoice.booking_id.jobs[0].fare[0].base_price | number:2 }}
								</td>
								<td style='text-align:right;'>
									<span > {{business_setting_details.currency.symbol}}&nbsp;{{invoice.booking_id.jobs[0].fare[0].total_fare | number:2 }}</span>
								</td>
							</tr>
							
							<tr ng-show="show_total_part">
								<td colspan="2" ></td>
								<td colspan="4" style="text-align: right; "><strong>Total</strong></td>
								<td  colspan="2" style="text-align: right; ">
									<strong> {{business_setting_details.currency.symbol}}&nbsp;{{ job_total_amount | number:2}}</strong>
								</td>
							</tr>
							<tr ng-show="show_discount_part">
								<td colspan="2" ></td>
								<td colspan="4" style="text-align: right; "><strong>Discount</strong></td>
								<td  colspan="2" style="text-align: right; ">
									<strong><span style="color:red">( - )</span> {{business_setting_details.currency.symbol}}&nbsp;{{discount_made_on_invoice | number:2}}</strong>
								</td>
							</tr>
							<tr ng-show="show_invoice_surcharge_part">
								<td colspan="2" ></td>
								<td colspan="4" style="text-align: right; "><strong>Invoice Surcharge</strong></td>
								<td  colspan="2" style="text-align: right; ">
									<strong> {{business_setting_details.currency.symbol}}&nbsp;{{surcharge_amount | number:2}}</strong>
								</td>
							</tr>
							<tr ng-show="show_tax_on_fare_part">
								<td colspan="2" ></td>
								<td colspan="4" style="text-align: right; "><strong>{{business_setting_details.taxes[0].name}}</strong></td>
								<td  colspan="2" style="text-align: right; ">
									<strong> {{business_setting_details.currency.symbol}}&nbsp;{{tax_amount_on_fare | number:2}}</strong>
								</td>
							</tr>
							<tr>
								<td colspan="2" ></td>
								<td colspan="4" style="text-align: right; "><strong>Invoice Total</strong></td>
								<td  colspan="2" style="text-align: right; ">
									<strong> {{business_setting_details.currency.symbol}}&nbsp;{{total_invoice_amount_to_be_paid | number:2}}</strong>
								</td>
							</tr>
							<tr ng-show="show_tax_within_the_fare_part">
								<td  colspan="8" style="text-align: center; border-bottom:0px; ">
									<strong> {{tax_is_included_within_the_fare}}</strong>
								</td>
							</tr>
							<tr>
								<td  colspan="8" style="text-align: center;border-bottom:0px; padding-top:10px; font-size:16px;">
									<strong> {{unpaid_invoice_details.invoice_line}}</strong>
								</td>
							</tr>
							<tr>
								<td colspan="8">
									<div ng-show="loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;">
									</div>
								</td>
							</tr>
						</table>
						</div>
						<div class="table-responsive">
							<table  class="table table-striped invoice-table" ng-hide="!unpaid_invoice_details.payments.length" >
								<thead>
									<tr>
										<th >Paid on</th>
										<th >Payment Method</th>
										<th >Record date </th>
										<th style='text-align:right;'>Amount</th>
									</tr>
								</thead>
								<!-- showing all the payment details of user -->
								<tbody>
									<tr ng-repeat="payment in unpaid_invoice_details.payments"  style="background:#fff !important;color:#000">
										<td style="background:#fff !important;color:#000">{{payment.date | date:'dd-MM-yyyy'}}</td>
										<td style="background:#fff !important;color:#000">{{payment.payment_method | uppercase}}</td>
										<td style="background:#fff !important;color:#000">{{payment.created_on | date:'dd-MM-yyyy'}}</td>
										<td style="text-align:right;background:#fff !important;color:#000">{{payment.amount | number:2 | currency:business_setting_details.currency.symbol}}</td>
									</tr>
								</tbody>	
							</table>
						</div>
						<div style="clear:both;">
							<table width="100%">
								<tbody>
									<tr>
										<td><hr style='border:none; border-top:1px dotted #000; color:#fff; background-color:#fff; height:5px;'/></hr></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel panel-default margin-bottom-40">
							<div class="col-md-4">Remittance Advice</div><div class="col-md-4"> Customer Name : {{unpaid_invoice_details.customer_id.name}} </div><div class="col-md-4">TAX INVOICE : {{unpaid_invoice_details.invoice_id}}</div>
							
							<div class="col-md-4">PAYMENT METHODS</div><div class="col-md-4"> {{business_setting_details.currency.symbol}}&nbsp;{{unpaid_invoice_details.invoice_amount | number:2}}</div>
						</div>
						<div class="clearfix"></div>
						<div class="table-responsive">
								<table class="table table-striped invoice-table" style="margin-top:10px;">
									<thead>
										<tr>
											<th>BANK TRANSFER</th>
											<th>CREDIT CARD</th>
											<th class="hidden-sm">CHEQUES</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div ng-repeat="bank in business_setting_details.bank_details"><strong>{{bank.name}}&nbsp:</strong>&nbsp;{{bank.value}} </div>
												<strong>REF&nbsp;: &nbsp;</strong>{{unpaid_invoice_details.invoice_id}}
											</td>
											<td>
												Please call or email us with details
											</td>
											<td>
												Please make cheques payable to:<br>
												<strong>{{business_setting_details.cheque_payment_details}}</strong>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				  <button type="submit" class="btn btn-warning btn-xs ">SEND INVOICE</button>&nbsp;<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>	
		</form>
	</modal>

	<!-- this model will allow to edit invoice -->
	<modal title="Edit Unpaid Invoice" visible="preview_unpaid_invoice_edit"  style="width=100%">
		<form role="preview" ng-submit="editUnpaidInvoiceList();" name="addDriversAddress" novalidate style="width=1020px">
				<div class="col-md bms-form" style="border:0;">
						<div style='height: 35px; width: 100%;margin: 20px 0;background: #eee;text-align: center; font: bold 15px Helvetica,ans-Serif;text-decoration: uppercase; letter-spacing: 20px;padding: 8px 0px;'>EDIT INVOICE</div>
						<table style='margin-top: 1px; width: 100%;'>
							<tr style="height: 30px; width:100%">
									<td style='text-align: left; width:20%'>Invoice Number&nbsp;</td>
									<td style='text-align: left;'>
										<strong>{{edit_unpaid_invoice.invoice_id}}</strong>
									</td>
							</tr>
							<tr style="height: 30px; width:100%">
								<td style='text-align: left; width:20%'>Invoice status&nbsp;</td>
								<td style='text-align: left;'>
									<label class="select">
										<select name="customer_name" ng-model="edit_unpaid_invoice.status"  ng-init="edit_unpaid_invoice.status='{{edit_unpaid_invoice_details.status}}'">
											<option value=""  disabled="disabled">Invoice status</option>
											<option value="payable">PAYABLE</option>
											<option value="paid">PAID</option>
											<option value="partial_paid">PARTIALLY PAID</option>
										</select>
										<i></i>
									</label>
								</td>
							</tr>
							<tr style="height: 30px; width:100%">
								<td style='text-align: left; width:20%'>&nbsp;</td>
								<td style='text-align: left;'>&nbsp;&nbsp; </td>
							</tr>
							<tr style="height: 30px; width:100%">
								<td style='text-align: left; '>Invoice notes &nbsp;</td>
								<td  style='text-align: left; height: 20px;'>
									<label class="textarea"> 
										<textarea name="comment" form="usrform"  ng-model="edit_unpaid_invoice.invoice_notes" rows="5"></textarea>
									</label>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<div ng-show="loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;">
									</div>
								</td>
							</tr>
						</table>
				</div>
				<div class="modal-footer" style="padding-right:0; padding-left:0;">
					  <button type="submit" class="btn btn-warning btn-xs" ng-confirm-click="ARE YOU SURE YOU WANT TO EDIT">EDIT INVOICE</button>&nbsp;<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
				</div>	
		</form>
	</modal>
	<!-- this model will allow to add payment -->
	<modal title="Make Payment" visible="preview_unpaid_payment"  style="width=1020px">
		<form role="preview" ng-submit="makePaymentOfInvoice();" name="addDriversAddress" novalidate style="width=1020px">
			<div class="col-md bms-form" style="border:0; min-height:380px;">
				<div class="panel panel-default margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title">Make Payment</h3>
					</div>
				   
					<table class="table table-striped invoice-table">
					   
						<tbody>
							<tr>
								<td>Amount</td>
								<td>
									<input type="number" name="invoice_amount_to_be_paid" ng-model="make_payment_for_unpaid_invoice.amount" style="height: 30px; width:80px" placeholder="0.00">
								</td>
							</tr>
							<tr>
								<td>Paid On</td>
								<td>
									<date-pick ng-model="make_payment_for_unpaid_invoice.date" name="paid_on" placeholder="Select Date" callback="dateChange()" format="dd MMM, yyyy" autohide="true" required></date-pick>
								</td>
							</tr>
							<tr>
								<td>Payment Method</td>
								<td><select name="customer_name" ng-model="make_payment_for_unpaid_invoice.payment_method" style="line-height:35px;">
										<option value=""  disabled="disabled" selected="selected">Please Select</option>
										<option value="eft">EFT</option>
										<option value="cc_charge">CC CHARGE</option>
										<option value="cash">CASH</option>
										<option value="others">OTHERS</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div ng-show="loader" style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(http://www.limokit.com/bms_clients/repo/images/load.gif) center no-repeat;">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer" style="padding-left:0; padding-right:0;">
				  <button type="submit" class="btn btn-warning btn-xs">MAKE PAYMENT</button>&nbsp;<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>	
		</form>
	</modal>
	
	<!-- this model will show warning message before delete of invoice-->
	<modal title="Delete Invoice"  visible="warning_message_model" >
		<form role="preview" ng-submit="deleteUnpaidInvoice();" name="addDriversAddress" novalidate style="width=1020px">
			<section id="contact-page">
				<div class="">
					<div class="alert alert-warning" role="alert">
						<strong>Warning!</strong>&nbsp;ARE YOU SURE YOU WANT TO DELETE INVOICE ID {{delete_unpaid_invoice.invoice_id}}
					</div>
				</div>
			</section>
			<div class="modal-footer" >
				 <button type="submit" class="btn btn-warning btn-xs">DELETE</button>&nbsp;<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
			</div>
		</form>
	</modal>
	
	<!-- below model will open the messages if success comes from api. -->
	<modal visible="success_message_model">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-success" role="alert">
					<strong>Success!</strong>&nbsp;{{alert_message_success}}
				</div>
			</div>
		</section>
		<div class="modal-footer" >
			<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
		</div>	
	</modal>
	
	<!-- below model will open the messages if error occur in front end( client side or some validation fail in client side). -->
	<modal visible="error_message_model">
		<section id="contact-page">
			<div class="">
				<div class="alert alert-danger" role="alert">
					<strong>Error!</strong>&nbsp;{{alert_message_error}}
				</div>
			</div>
		</section>
		<div class="modal-footer" >
			<button type="button" class="btn btn-danger btn-xs large" data-dismiss="modal">Close</button>
		</div>	
	</modal>
</div><!-- end of main container -->
<script>
function generatesUnInvoicedJobPDF() 
{
    var doc = new jsPDF('l', 'pt');
    doc.text("Un Invoiced Job List", 10, 50);
	var res = doc.autoTableHtmlToJson(document.getElementById("uninvoicedjoblist"));
	doc.autoTable(res.columns, res.data, {startY: 60,margin: {horizontal: 10},styles: {overflow: 'linebreak'},bodyStyles: {valign: 'top'}});
	doc.save('uninvoiced-job-data.pdf');
}
</script>